openapi: 3.2.0
info:
  title: Refurbed Market Service API
  version: '1.0'
  description: 'Operations tagged MarketService across 2 of this provider''s published API definitions: api.swagger.json, api.swagger_2.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.refurbed.com
security:
- APIKeyAuth: []
tags:
- name: MarketService
paths:
  /refb.partner.affiliate.v1.MarketService/GetMarket:
    post:
      summary: Gets a single market
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the market is not found'
      operationId: GetMarket
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - MarketService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMarketRequest'
        required: true
    servers:
    - url: https://api.refurbed.com
  /refb.partner.affiliate.v1.MarketService/ListMarkets:
    post:
      summary: Lists all markets
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - INVALID_ARGUMENT

        - when pagination limit is too large (>100)

        - when both "ending_before" and "starting_after" are specified in pagination'
      operationId: ListMarkets
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMarketsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - MarketService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMarketsRequest'
        required: true
    servers:
    - url: https://api.refurbed.com
  /refb.merchant.v1.MarketService/GetMarket:
    post:
      summary: Gets a single market
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the market is not found

        - RESOURCE_EXHAUSTED

        - when rate limit is exceeded'
      operationId: GetMarket
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketResponse_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_2'
      tags:
      - MarketService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMarketRequest'
        required: true
    servers:
    - url: https://api.refurbed.com
  /refb.merchant.v1.MarketService/ListMarkets:
    post:
      summary: Lists all markets
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - INVALID_ARGUMENT

        - when pagination limit is too large (>100)

        - when both "ending_before" and "starting_after" are specified in pagination

        - RESOURCE_EXHAUSTED

        - when rate limit is exceeded'
      operationId: ListMarkets
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMarketsResponse_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status_2'
      tags:
      - MarketService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMarketsRequest'
        required: true
    servers:
    - url: https://api.refurbed.com
components:
  schemas:
    MarketTypeFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            $ref: '#/components/schemas/MarketType'
        none_of:
          type: array
          items:
            $ref: '#/components/schemas/MarketType'
    Any:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    GetMarketResponse:
      type: object
      properties:
        market:
          $ref: '#/components/schemas/Market'
          description: The market retrieved.
    Market:
      type: object
      properties:
        code:
          type: string
          description: Primary key. Code of the market.
        is_site:
          type: boolean
          description: Indicates whether there exists a refurbed website for this market.
        type:
          $ref: '#/components/schemas/MarketType'
          description: Defines what type of market it is.
        name:
          type: string
          description: Human-readable name of the market.
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          description: The market's currency.
      description: A market.
    ListMarketsResponse:
      type: object
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/Market'
          description: The markets found.
        has_more:
          type: boolean
          description: Indicates whether there are more results available.
    CurrencyCodeFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyCode'
        none_of:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyCode'
    StringFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            type: string
        none_of:
          type: array
          items:
            type: string
    StringPagination:
      type: object
      properties:
        limit:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Limit on the number of results to be returned. Between 1 and 100.

            Default and maximum is 100.'
        ending_before:
          type: string
        starting_after:
          type: string
      description: Paginates resources with string primary key.
    BoolFilter:
      type: object
      properties:
        value:
          type:
          - boolean
          - 'null'
    ListMarketsRequest.Sort.By:
      type: string
      enum:
      - CODE
      - NAME
      default: CODE
    SortOrder:
      type: string
      enum:
      - ASC
      - DESC
      default: ASC
    ListMarketsRequest:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/StringPagination'
        sort:
          $ref: '#/components/schemas/ListMarketsRequest.Sort'
        filter:
          $ref: '#/components/schemas/ListMarketsRequest.Filter'
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
    GetMarketRequest:
      type: object
      properties:
        code:
          type: string
          description: The identifier of the market to get.
          required:
          - code
      required:
      - code
    MarketType:
      type: string
      enum:
      - UNSPECIFIED
      - COUNTRY
      default: UNSPECIFIED
      description: ' - COUNTRY: Market represents a country, in which case its code is equal to the

        2-letter ISO code of the country.'
    ListMarketsRequest.Sort:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/SortOrder'
        by:
          $ref: '#/components/schemas/ListMarketsRequest.Sort.By'
    ListMarketsRequest.Filter:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/StringFilter'
        is_site:
          $ref: '#/components/schemas/BoolFilter'
        type:
          $ref: '#/components/schemas/MarketTypeFilter'
        currency:
          $ref: '#/components/schemas/CurrencyCodeFilter'
    CurrencyCode:
      type: string
      enum:
      - UNSPECIFIED
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XUA
      - YER
      - ZAR
      - ZMW
      - ZWL
      default: UNSPECIFIED
      description: "Currency codes as specified in ISO 4217.\n\n - AED: XTS = 963; // Code reserved for testing purposes."
    Any_2:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    GetMarketResponse_2:
      type: object
      properties:
        market:
          $ref: '#/components/schemas/Market'
    ListMarketsResponse_2:
      type: object
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/Market'
        has_more:
          type: boolean
          description: Indicates whether there are more results available.
    Status_2:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: 'A developer-facing error message, which should be in English. Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any_2'
          description: 'A list of messages that carry the error details.  There is a common set of

            message types for APIs to use.'
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-refined-from:
- api.swagger.json
- api.swagger_2.json
