swagger: '2.0'
info:
  title: Affiliate Partner BuybackBidService API
  version: '1.0'
  description: The refurbed affiliate partner API allows to retrieve info about markets, products and instances including the buybox info (current price, grading, warranty).
  contact:
    name: Refurbed Affiliate Partner Integrations Team
    email: integrations@refurbed.com
host: api.refurbed.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- APIKeyAuth: []
tags:
- name: BuybackBidService
paths:
  /refb.merchant.v1.BuybackBidService/CreateBuybackBid:
    post:
      summary: Creates a single bid.
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - product does not exist\n  - set of attributes is incompatible for a product\n  - invalid input data is provided\n- ALREADY_EXISTS\n  - there's already an active bid for the given product, attributes and grade combination"
      operationId: CreateBuybackBid
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateBuybackBidResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateBuybackBidRequest'
      tags:
      - BuybackBidService
  /refb.merchant.v1.BuybackBidService/CreateBuybackMarketBid:
    post:
      summary: Adds a new price for a marketplace inside an existing bid
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - bid does not exist\n  - invalid input data is provided\n- ALREADY_EXISTS\n  - there's already an active bid for the given market"
      operationId: CreateBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateBuybackMarketBidResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateBuybackMarketBidRequest'
      tags:
      - BuybackBidService
  /refb.merchant.v1.BuybackBidService/DeleteBuybackBid:
    post:
      summary: Deletes a single bid.
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when bid is not found\n- INVALID_ARGUMENT\n  - invalid input data is provided"
      operationId: DeleteBuybackBid
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBuybackBidRequest'
      tags:
      - BuybackBidService
  /refb.merchant.v1.BuybackBidService/DeleteBuybackMarketBid:
    post:
      summary: Deletes a price for a marketplace inside an existing bid.
      description: "This is only allowed if the deletion doesn't result in a bid without any market prices.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - market bid does not exist\n- FAILED_PRECONDITION\n  - bid has only 1 market price remaining (i.e. bid requires manual deletion)"
      operationId: DeleteBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBuybackMarketBidRequest'
      tags:
      - BuybackBidService
  /refb.merchant.v1.BuybackBidService/GetSecondOfferBuybackMarketBid:
    post:
      summary: Gets a market bid available for making a second offer.
      description: "To make a second offer, the merchant has to find a different market bid and update the order item accordingly.\nIn order to get a market bid for the second offer, the merchant has to provide the order item ID that they intend to change,\nas well as all the details about the actual device they have received. Only the price valid at the time of order\ncreation will be returned, to ensure fair competition and prevent merchants from lowering the price before\nmaking the second offer.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - invalid input data is provided\n- NOT_FOUND\n  - order item does not exist or it's not in \"received\" state\n  - an appropriate market bid cannot be found that was active at the time of order"
      operationId: GetSecondOfferBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/GetSecondOfferBuybackMarketBidResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetSecondOfferBuybackMarketBidRequest'
      tags:
      - BuybackBidService
  /refb.merchant.v1.BuybackBidService/ListBuybackBids:
    post:
      summary: Lists all bids.
      description: "Returns the current bid versions only.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination"
      operationId: ListBuybackBids
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/ListBuybackBidsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ListBuybackBidsRequest'
      tags:
      - BuybackBidService
  /refb.merchant.v1.BuybackBidService/UpdateBuybackBid:
    post:
      summary: Updates a single bid by setting its stock
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when bid is not found\n- INVALID_ARGUMENT\n  - invalid input data is provided"
      operationId: UpdateBuybackBid
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateBuybackBidResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateBuybackBidRequest'
      tags:
      - BuybackBidService
  /refb.merchant.v1.BuybackBidService/UpdateBuybackMarketBid:
    post:
      summary: Sets the price for a marketplace for an existing bid.
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - market bid does not exist\n- INVALID_ARGUMENT\n  - invalid input data is provided"
      operationId: UpdateBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateBuybackMarketBidResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateBuybackMarketBidRequest'
      tags:
      - BuybackBidService
definitions:
  DeleteBuybackMarketBidRequest:
    type: object
    properties:
      bid_identifier:
        $ref: '#/definitions/BuybackBidIdentifier'
        description: Accepts either bid ID or SKU.
        title: The identifier of the bid
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market
  UpdateBuybackMarketBidRequest:
    type: object
    properties:
      bid_identifier:
        $ref: '#/definitions/BuybackBidIdentifier'
        description: Accepts either bid ID or SKU.
        title: The identifier of the bid
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market of the market
      currency_code:
        $ref: '#/definitions/CurrencyCode'
        title: Currency for the price
      price:
        type: string
        title: Price as a string containing a decimal number
        required:
        - price
    required:
    - price
  BuybackAttribute:
    type: object
    properties:
      id:
        type: string
        format: int64
        title: Attribute ID
      name:
        type: string
        description: Human-readable name.
      type:
        $ref: '#/definitions/BuybackAttributeType'
        description: Type for the attribute.
      value_str:
        $ref: '#/definitions/StringValue'
        description: Value is set if type is ENUM.
      value_num:
        $ref: '#/definitions/NumericValue'
        description: Value is set if type is NUMERIC.
  BuybackBidGrading:
    type: string
    enum:
    - UNSPECIFIED
    - A
    - B
    - C
    - D
    - E
    default: UNSPECIFIED
  StringSetContainsFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          type: string
      none_of:
        type: array
        items:
          type: string
      contains:
        type: string
        x-nullable: true
  Enum:
    type: object
    properties:
      id:
        type: string
        format: int64
      any_of:
        type: array
        items:
          type: string
      none_of:
        type: array
        items:
          type: string
  Int64Pagination:
    type: object
    properties:
      limit:
        type: integer
        format: int64
        x-nullable: true
        description: 'Limit on the number of results to be returned. Between 1 and 100.

          Default and maximum is 100.'
      ending_before:
        type: string
        format: int64
      starting_after:
        type: string
        format: int64
    description: Paginates resources with int64 primary key.
  CreateBuybackMarketBidRequest:
    type: object
    properties:
      bid_identifier:
        $ref: '#/definitions/BuybackBidIdentifier'
        description: Accepts either bid ID or SKU.
        title: The identifier of the bid
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market
      currency_code:
        $ref: '#/definitions/CurrencyCode'
        title: Currency for the price
      price:
        type: string
        title: Price as a string containing a decimal number
        required:
        - price
    required:
    - price
  CreateBuybackMarketBid:
    type: object
    properties:
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market
      currency_code:
        $ref: '#/definitions/CurrencyCode'
        title: Currency for the price
      price:
        type: string
        title: Price as a string containing a decimal number
        required:
        - price
    required:
    - price
  BuybackBidGradingFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          $ref: '#/definitions/BuybackBidGrading'
      none_of:
        type: array
        items:
          $ref: '#/definitions/BuybackBidGrading'
  GetSecondOfferBuybackMarketBidResponse:
    type: object
    properties:
      market_bid:
        $ref: '#/definitions/BuybackMarketBidSummary'
  ListBuybackBidsRequest:
    type: object
    properties:
      pagination:
        $ref: '#/definitions/Int64Pagination'
      sort:
        $ref: '#/definitions/ListBuybackBidsRequest.Sort'
      filter:
        $ref: '#/definitions/ListBuybackBidsRequest.Filter'
  Numeric:
    type: object
    properties:
      id:
        type: string
        format: int64
      any_of:
        type: array
        items:
          type: number
          format: double
      none_of:
        type: array
        items:
          type: number
          format: double
  ListBuybackBidsResponse:
    type: object
    properties:
      bids:
        type: array
        items:
          $ref: '#/definitions/BuybackBid'
        description: The bids found.
      has_more:
        type: boolean
        description: Indicates whether there are more results available.
  BuybackMarketBid:
    type: object
    properties:
      bid_id:
        type: string
        format: int64
        title: Bid ID
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market
      currency_code:
        $ref: '#/definitions/CurrencyCode'
        title: Currency for the price
      price:
        type: string
        title: Price as a string containing a decimal number
      bid_sku:
        type: string
        x-nullable: true
        title: Bid SKU
  UpdateBuybackMarketBidResponse:
    type: object
    properties:
      market_bid:
        $ref: '#/definitions/BuybackMarketBid'
  BuybackBid:
    type: object
    properties:
      id:
        type: string
        format: int64
        description: Primary key.
      product_id:
        type: string
        format: int64
        title: The product id
      product_name:
        type: string
        description: Human-readable name for the product.
      attributes:
        type: array
        items:
          $ref: '#/definitions/BuybackAttribute'
        title: List of attributes assigned to the product
      stock:
        type: integer
        format: int64
        x-nullable: true
        title: Stock the merchant is willing to buy. If undefined it means unlimited
      grading:
        $ref: '#/definitions/BuybackBidGrading'
        title: Grading for the desired product
      market_bids:
        type: array
        items:
          $ref: '#/definitions/BuybackMarketBid'
        description: Configured market bids. Unique by market code.
      sku:
        type: string
        x-nullable: true
        title: Bid SKU
  GetSecondOfferBuybackMarketBidRequest:
    type: object
    properties:
      order_item_id:
        type: string
        format: int64
        title: The ID of the product received (may be the same as order item's product ID)
        required:
        - order_item_id
      product_id:
        type: string
        format: int64
        title: The product ID of the product received (may be the same as order item's product ID)
        required:
        - product_id
      attributes:
        type: array
        items:
          $ref: '#/definitions/ProductAttribute'
        title: The list of attributes of the product received (may be the same as order item's attributes)
        required:
        - attributes
      grading:
        $ref: '#/definitions/BuybackBidGrading'
        title: 'The grading of the product received (same as order item''s grading, if the product received doesn''t have a

          different grading)'
    required:
    - order_item_id
    - product_id
    - attributes
  CountryCodeFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          $ref: '#/definitions/CountryCode'
      none_of:
        type: array
        items:
          $ref: '#/definitions/CountryCode'
  Any:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  Attribute:
    type: object
    properties:
      value_str:
        $ref: '#/definitions/Enum'
      value_num:
        $ref: '#/definitions/Numeric'
  DeleteBuybackBidRequest:
    type: object
    properties:
      identifier:
        $ref: '#/definitions/BuybackBidIdentifier'
        description: Accepts either bid ID or SKU.
        title: The identifier of the bid
  SortOrder:
    type: string
    enum:
    - ASC
    - DESC
    default: ASC
  ListBuybackBidsRequest.Filter:
    type: object
    properties:
      id:
        $ref: '#/definitions/Int64Filter'
      product_id:
        $ref: '#/definitions/Int64Filter'
      grading:
        $ref: '#/definitions/BuybackBidGradingFilter'
      stock:
        $ref: '#/definitions/OptionalUInt32RangeFilter'
      market_code:
        $ref: '#/definitions/CountryCodeFilter'
      currency_code:
        $ref: '#/definitions/CurrencyCodeFilter'
      product_name:
        $ref: '#/definitions/TextSearchFilter'
      product_attribute:
        $ref: '#/definitions/BuybackAttributeFilter'
      sku:
        $ref: '#/definitions/StringSetContainsFilter'
  CountryCode:
    type: string
    enum:
    - UNSPECIFIED
    - AF
    - AL
    - AQ
    - DZ
    - AS
    - AD
    - AO
    - AG
    - AZ
    - AR
    - AU
    - AT
    - BS
    - BH
    - BD
    - AM
    - BB
    - BE
    - BM
    - BT
    - BO
    - BA
    - BW
    - BV
    - BR
    - BZ
    - IO
    - SB
    - VG
    - BN
    - BG
    - MM
    - BI
    - BY
    - KH
    - CM
    - CA
    - CV
    - KY
    - CF
    - LK
    - TD
    - CL
    - CN
    - TW
    - CX
    - CC
    - CO
    - KM
    - YT
    - CG
    - CD
    - CK
    - CR
    - HR
    - CU
    - CY
    - CZ
    - BJ
    - DK
    - DM
    - DO
    - EC
    - SV
    - GQ
    - ET
    - ER
    - EE
    - FO
    - FK
    - GS
    - FJ
    - FI
    - AX
    - FR
    - GF
    - PF
    - TF
    - DJ
    - GA
    - GE
    - GM
    - PS
    - DE
    - GH
    - GI
    - KI
    - GR
    - GL
    - GD
    - GP
    - GU
    - GT
    - GN
    - GY
    - HT
    - HM
    - VA
    - HN
    - HK
    - HU
    - IS
    - IN
    - ID
    - IR
    - IQ
    - IE
    - IL
    - IT
    - CI
    - JM
    - JP
    - KZ
    - JO
    - KE
    - KP
    - KR
    - KW
    - KG
    - LA
    - LB
    - LS
    - LV
    - LR
    - LY
    - LI
    - LT
    - LU
    - MO
    - MG
    - MW
    - MY
    - MV
    - ML
    - MT
    - MQ
    - MR
    - MU
    - MX
    - MC
    - MN
    - MD
    - ME
    - MS
    - MA
    - MZ
    - OM
    - NA
    - NR
    - NP
    - NL
    - CW
    - AW
    - SX
    - BQ
    - NC
    - VU
    - NZ
    - NI
    - NE
    - NG
    - NU
    - NF
    - 'NO'
    - MP
    - UM
    - FM
    - MH
    - PW
    - PK
    - PA
    - PG
    - PY
    - PE
    - PH
    - PN
    - PL
    - PT
    - GW
    - TL
    - PR
    - QA
    - RE
    - RO
    - RU
    - RW
    - BL
    - SH
    - KN
    - AI
    - LC
    - MF
    - PM
    - VC
    - SM
    - ST
    - SA
    - SN
    - RS
    - SC
    - SL
    - SG
    - SK
    - VN
    - SI
    - SO
    - ZA
    - ZW
    - ES
    - SS
    - SD
    - EH
    - SR
    - SJ
    - SZ
    - SE
    - CH
    - SY
    - TJ
    - TH
    - TG
    - TK
    - TO
    - TT
    - AE
    - TN
    - TR
    - TM
    - TC
    - TV
    - UG
    - UA
    - MK
    - EG
    - GB
    - GG
    - JE
    - IM
    - TZ
    - US
    - VI
    - BF
    - UY
    - UZ
    - VE
    - WF
    - WS
    - YE
    - ZM
    default: UNSPECIFIED
    description: Alpha-2 country codes as specified in ISO 3166-1.
  BuybackAttributeFilter:
    type: object
    properties:
      attributes:
        type: array
        items:
          $ref: '#/definitions/Attribute'
  Status:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
      details:
        type: array
        items:
          $ref: '#/definitions/Any'
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
  NumericValue:
    type: object
    properties:
      value:
        type: number
        format: double
      unit:
        type: string
        x-nullable: true
  ListBuybackBidsRequest.Sort:
    type: object
    properties:
      order:
        $ref: '#/definitions/SortOrder'
      by:
        $ref: '#/definitions/ListBuybackBidsRequest.Sort.By'
  BuybackAttributeType:
    type: string
    enum:
    - UNSPECIFIED
    - ENUM
    - NUMERIC
    default: UNSPECIFIED
    title: "- ENUM: An enumerated attribute has a string value, e.g. Colour = black.\n - NUMERIC: A numeric attribute has a numeric value with an optional unit, e.g.\nMemory = 2 GB"
  ProductAttribute:
    type: object
    properties:
      id:
        type: string
        format: int64
        title: Attribute ID
        required:
        - id
      value_str:
        type: string
        required:
        - value_str
      value_num:
        type: number
        format: double
        required:
        - value_num
    required:
    - id
    - value_str
    - value_num
  CreateBuybackBidRequest:
    type: object
    properties:
      product_id:
        type: string
        format: int64
        title: The Product id
        required:
        - product_id
      attributes:
        type: array
        items:
          $ref: '#/definitions/ProductAttribute'
        title: List of attributes assigned to the product
        required:
        - attributes
      stock:
        type: integer
        format: int64
        x-nullable: true
        title: Stock to buy. If left undefined the stock will be considered unlimited
      grading:
        $ref: '#/definitions/BuybackBidGrading'
        title: Grading for the desired product
      market_bids:
        type: array
        items:
          $ref: '#/definitions/CreateBuybackMarketBid'
        title: Market bids to create
        required:
        - market_bids
      sku:
        type: string
        x-nullable: true
        title: Bid SKU
    required:
    - product_id
    - attributes
    - market_bids
  BuybackMarketBidSummary:
    type: object
    properties:
      id:
        type: string
        format: int64
        title: Primary key
      product_id:
        type: string
        format: int64
        title: The product id
      product_name:
        type: string
        title: The user-friendly product_name
      attributes:
        type: array
        items:
          $ref: '#/definitions/BuybackAttribute'
        title: List of attributes assigned to the product
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market
      grading:
        $ref: '#/definitions/BuybackBidGrading'
        title: Grading for the desired product
      currency_code:
        $ref: '#/definitions/CurrencyCode'
        title: Currency for the price
      price:
        type: string
        title: The price
      bid_id:
        type: string
        format: int64
        title: Bid ID
      bid_sku:
        type: string
        x-nullable: true
        title: Bid SKU
  CurrencyCode:
    type: string
    enum:
    - UNSPECIFIED
    - AED
    - AFN
    - ALL
    - AMD
    - ANG
    - AOA
    - ARS
    - AUD
    - AWG
    - AZN
    - BAM
    - BBD
    - BDT
    - BGN
    - BHD
    - BIF
    - BMD
    - BND
    - BOB
    - BOV
    - BRL
    - BSD
    - BTN
    - BWP
    - BYR
    - BZD
    - CAD
    - CDF
    - CHE
    - CHF
    - CHW
    - CLF
    - CLP
    - CNY
    - COP
    - COU
    - CRC
    - CUC
    - CUP
    - CVE
    - CZK
    - DJF
    - DKK
    - DOP
    - DZD
    - EGP
    - ERN
    - ETB
    - EUR
    - FJD
    - FKP
    - GBP
    - GEL
    - GHS
    - GIP
    - GMD
    - GNF
    - GTQ
    - GYD
    - HKD
    - HNL
    - HRK
    - HTG
    - HUF
    - IDR
    - ILS
    - INR
    - IQD
    - IRR
    - ISK
    - JMD
    - JOD
    - JPY
    - KES
    - KGS
    - KHR
    - KMF
    - KPW
    - KRW
    - KWD
    - KYD
    - KZT
    - LAK
    - LBP
    - LKR
    - LRD
    - LSL
    - LTL
    - LYD
    - MAD
    - MDL
    - MGA
    - MKD
    - MMK
    - MNT
    - MOP
    - MRO
    - MUR
    - MVR
    - MWK
    - MXN
    - MXV
    - MYR
    - MZN
    - NAD
    - NGN
    - NIO
    - NOK
    - NPR
    - NZD
    - OMR
    - PAB
    - PEN
    - PGK
    - PHP
    - PKR
    - PLN
    - PYG
    - QAR
    - RON
    - RSD
    - RUB
    - RWF
    - SAR
    - SBD
    - SCR
    - SDG
    - SEK
    - SGD
    - SHP
    - SLL
    - SOS
    - SRD
    - SSP
    - STD
    - SVC
    - SYP
    - SZL
    - THB
    - TJS
    - TMT
    - TND
    - TOP
    - TRY
    - TTD
    - TWD
    - TZS
    - UAH
    - UGX
    - USD
    - USN
    - UYI
    - UYU
    - UZS
    - VEF
    - VND
    - VUV
    - WST
    - XAF
    - XAG
    - XAU
    - XBA
    - XBB
    - XBC
    - XBD
    - XCD
    - XDR
    - XOF
    - XPD
    - XPF
    - XPT
    - XSU
    - XUA
    - YER
    - ZAR
    - ZMW
    - ZWL
    default: UNSPECIFIED
    description: "Currency codes as specified in ISO 4217.\n\n - AED: XTS = 963; // Code reserved for testing purposes."
  Int64Filter:
    type: object
    properties:
      any_of:
        type: array
        items:
          type: string
          format: int64
      none_of:
        type: array
        items:
          type: string
          format: int64
  OptionalUInt32RangeFilter:
    type: object
    properties:
      is_set:
        type: boolean
        x-nullable: true
      gt:
        type: integer
        format: int64
        x-nullable: true
      ge:
        type: integer
        format: int64
        x-nullable: true
      any_of:
        type: array
        items:
          type: integer
          format: int64
      none_of:
        type: array
        items:
          type: integer
          format: int64
      le:
        type: integer
        format: int64
        x-nullable: true
      lt:
        type: integer
        format: int64
        x-nullable: true
  ListBuybackBidsRequest.Sort.By:
    type: string
    enum:
    - ID
    - PRODUCT_ID
    - GRADING
    - STOCK
    - PRODUCT_NAME
    - SKU
    default: ID
  BuybackBidIdentifier:
    type: object
    properties:
      id:
        type: string
        format: int64
      sku:
        type: string
  UpdateBuybackBidResponse:
    type: object
    properties:
      bid:
        $ref: '#/definitions/BuybackBid'
  CurrencyCodeFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          $ref: '#/definitions/CurrencyCode'
      none_of:
        type: array
        items:
          $ref: '#/definitions/CurrencyCode'
  TextSearchFilter:
    type: object
    properties:
      term:
        type: string
        title: Full-text match
  StringValue:
    type: object
    properties:
      value:
        type: string
  CreateBuybackBidResponse:
    type: object
    properties:
      bid:
        $ref: '#/definitions/BuybackBid'
  CreateBuybackMarketBidResponse:
    type: object
    properties:
      market_bid:
        $ref: '#/definitions/BuybackMarketBid'
  UpdateBuybackBidRequest:
    type: object
    properties:
      identifier:
        $ref: '#/definitions/BuybackBidIdentifier'
        description: Accepts either bid ID or SKU.
        title: The identifier of the bid to update
      stock:
        type: integer
        format: int64
        x-nullable: true
        title: Stock to buy. If left undefined the stock will be considered unlimited
securityDefinitions:
  APIKeyAuth:
    type: apiKey
    name: Authorization
    in: header
