swagger: '2.0'
info:
  title: Affiliate Partner BuybackBidService MerchantService API
  version: '1.0'
  description: The refurbed affiliate partner API allows to retrieve info about markets, products and instances including the buybox info (current price, grading, warranty).
  contact:
    name: Refurbed Affiliate Partner Integrations Team
    email: integrations@refurbed.com
host: api.refurbed.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- APIKeyAuth: []
tags:
- name: MerchantService
paths:
  /refb.merchant.v1.MerchantService/CreateMerchantAddress:
    post:
      summary: Creates merchant's address
      operationId: CreateMerchantAddress
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateMerchantAddressResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateMerchantAddressRequest'
      tags:
      - MerchantService
  /refb.merchant.v1.MerchantService/DeleteMerchantAddress:
    post:
      summary: Delete merchant's address
      operationId: DeleteMerchantAddress
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteMerchantAddressResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/DeleteMerchantAddressRequest'
      tags:
      - MerchantService
  /refb.merchant.v1.MerchantService/ListMerchantAddresses:
    post:
      summary: Lists addresses defined for merchant
      operationId: ListMerchantAddresses
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/ListMerchantAddressesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ListMerchantAddressesRequest'
      tags:
      - MerchantService
  /refb.merchant.v1.MerchantService/UpdateMerchantAddress:
    post:
      summary: Updates merchant's address
      operationId: UpdateMerchantAddress
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateMerchantAddressResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateMerchantAddressRequest'
      tags:
      - MerchantService
definitions:
  CountryCode:
    type: string
    enum:
    - UNSPECIFIED
    - AF
    - AL
    - AQ
    - DZ
    - AS
    - AD
    - AO
    - AG
    - AZ
    - AR
    - AU
    - AT
    - BS
    - BH
    - BD
    - AM
    - BB
    - BE
    - BM
    - BT
    - BO
    - BA
    - BW
    - BV
    - BR
    - BZ
    - IO
    - SB
    - VG
    - BN
    - BG
    - MM
    - BI
    - BY
    - KH
    - CM
    - CA
    - CV
    - KY
    - CF
    - LK
    - TD
    - CL
    - CN
    - TW
    - CX
    - CC
    - CO
    - KM
    - YT
    - CG
    - CD
    - CK
    - CR
    - HR
    - CU
    - CY
    - CZ
    - BJ
    - DK
    - DM
    - DO
    - EC
    - SV
    - GQ
    - ET
    - ER
    - EE
    - FO
    - FK
    - GS
    - FJ
    - FI
    - AX
    - FR
    - GF
    - PF
    - TF
    - DJ
    - GA
    - GE
    - GM
    - PS
    - DE
    - GH
    - GI
    - KI
    - GR
    - GL
    - GD
    - GP
    - GU
    - GT
    - GN
    - GY
    - HT
    - HM
    - VA
    - HN
    - HK
    - HU
    - IS
    - IN
    - ID
    - IR
    - IQ
    - IE
    - IL
    - IT
    - CI
    - JM
    - JP
    - KZ
    - JO
    - KE
    - KP
    - KR
    - KW
    - KG
    - LA
    - LB
    - LS
    - LV
    - LR
    - LY
    - LI
    - LT
    - LU
    - MO
    - MG
    - MW
    - MY
    - MV
    - ML
    - MT
    - MQ
    - MR
    - MU
    - MX
    - MC
    - MN
    - MD
    - ME
    - MS
    - MA
    - MZ
    - OM
    - NA
    - NR
    - NP
    - NL
    - CW
    - AW
    - SX
    - BQ
    - NC
    - VU
    - NZ
    - NI
    - NE
    - NG
    - NU
    - NF
    - 'NO'
    - MP
    - UM
    - FM
    - MH
    - PW
    - PK
    - PA
    - PG
    - PY
    - PE
    - PH
    - PN
    - PL
    - PT
    - GW
    - TL
    - PR
    - QA
    - RE
    - RO
    - RU
    - RW
    - BL
    - SH
    - KN
    - AI
    - LC
    - MF
    - PM
    - VC
    - SM
    - ST
    - SA
    - SN
    - RS
    - SC
    - SL
    - SG
    - SK
    - VN
    - SI
    - SO
    - ZA
    - ZW
    - ES
    - SS
    - SD
    - EH
    - SR
    - SJ
    - SZ
    - SE
    - CH
    - SY
    - TJ
    - TH
    - TG
    - TK
    - TO
    - TT
    - AE
    - TN
    - TR
    - TM
    - TC
    - TV
    - UG
    - UA
    - MK
    - EG
    - GB
    - GG
    - JE
    - IM
    - TZ
    - US
    - VI
    - BF
    - UY
    - UZ
    - VE
    - WF
    - WS
    - YE
    - ZM
    default: UNSPECIFIED
    description: Alpha-2 country codes as specified in ISO 3166-1.
  MerchantAddressType:
    type: string
    enum:
    - UNSPECIFIED
    - DELIVERY
    - RETURN
    default: UNSPECIFIED
  Status:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
      details:
        type: array
        items:
          $ref: '#/definitions/Any'
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
  ListMerchantAddressesRequest:
    type: object
    properties:
      filter:
        $ref: '#/definitions/ListMerchantAddressesRequest.Filter'
  DeleteMerchantAddressResponse:
    type: object
  UpdateMerchantAddressResponse:
    type: object
    properties:
      merchant_address:
        $ref: '#/definitions/MerchantAddress'
  UpdateMerchantAddressRequest:
    type: object
    properties:
      id:
        type: string
        format: int64
        required:
        - id
      label:
        type: string
        x-nullable: true
      first_name:
        type: string
        x-nullable: true
      family_name:
        type: string
        x-nullable: true
      company_name:
        type: string
        x-nullable: true
      country_code:
        $ref: '#/definitions/CountryCode'
        x-nullable: true
      post_code:
        type: string
        x-nullable: true
      town:
        type: string
        x-nullable: true
      street_name:
        type: string
        x-nullable: true
      house_no:
        type: string
        x-nullable: true
      supplement:
        type: string
        x-nullable: true
      phone_number:
        type: string
        x-nullable: true
    required:
    - id
  DeleteMerchantAddressRequest:
    type: object
    properties:
      id:
        type: string
        format: int64
        required:
        - id
    required:
    - id
  ListMerchantAddressesRequest.Filter:
    type: object
    properties:
      type:
        $ref: '#/definitions/MerchantAddressType'
  CreateMerchantAddressResponse:
    type: object
    properties:
      merchant_address:
        $ref: '#/definitions/MerchantAddress'
  ListMerchantAddressesResponse:
    type: object
    properties:
      merchant_addresses:
        type: array
        items:
          $ref: '#/definitions/MerchantAddress'
  CreateMerchantAddressRequest:
    type: object
    properties:
      type:
        $ref: '#/definitions/MerchantAddressType'
      label:
        type: string
        x-nullable: true
        title: A user-defined label to identify or categorize the address, e.g. "Main Warehouse"
      first_name:
        type: string
        x-nullable: true
      family_name:
        type: string
        x-nullable: true
      company_name:
        type: string
        required:
        - company_name
      country_code:
        $ref: '#/definitions/CountryCode'
      post_code:
        type: string
        required:
        - post_code
      town:
        type: string
        required:
        - town
      street_name:
        type: string
        required:
        - street_name
      house_no:
        type: string
        required:
        - house_no
      supplement:
        type: string
        x-nullable: true
      phone_number:
        type: string
        x-nullable: true
    required:
    - company_name
    - post_code
    - town
    - street_name
    - house_no
  Any:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  MerchantAddress:
    type: object
    properties:
      id:
        type: string
        format: int64
      version:
        type: string
        format: int64
      label:
        type: string
        title: A user-defined label to identify or categorize the address, e.g. "Main Warehouse"
      first_name:
        type: string
        x-nullable: true
      family_name:
        type: string
        x-nullable: true
      company_name:
        type: string
      country_code:
        $ref: '#/definitions/CountryCode'
      post_code:
        type: string
      town:
        type: string
      street_name:
        type: string
      house_no:
        type: string
        x-nullable: true
      supplement:
        type: string
        x-nullable: true
      phone_number:
        type: string
        x-nullable: true
      type:
        $ref: '#/definitions/MerchantAddressType'
    description: 'MerchantAddress is the address from which the merchant dispatches shipments.

      Used as the merchant''s shipping address in the context of shipping label creation.'
securityDefinitions:
  APIKeyAuth:
    type: apiKey
    name: Authorization
    in: header
