openapi: 3.2.0
info:
  title: Merchant Catalog Service API
  description: The refurbed merchant API allows to access and manage markets, currencies, instances, shipping profiles, offers, market offers, orders and order items.
  version: '1.0'
  contact:
    name: Refurbed Merchant Integrations Team
    email: integrations@refurbed.com
servers:
- url: https://api.refurbed.com
security:
- APIKeyAuth: []
tags:
- name: CatalogService
paths:
  /refb.merchant.v1.CatalogService/GetCatalogTemplates:
    post:
      summary: Retrieves a list of attribute templates for the specified category type and…
      operationId: GetCatalogTemplates
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogTemplatesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - CatalogService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCatalogTemplatesRequest'
        required: true
components:
  schemas:
    CatalogTemplate:
      type: object
      properties:
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/CatalogConstraint'
        category_id:
          type: string
          format: int64
          description: The category id associated with this template.
        category_name:
          type: string
          description: The category name.
        child_templates:
          type: array
          items:
            $ref: '#/components/schemas/CatalogTemplate'
          description: Child templates, set only if there are more specific template values.
        version:
          type: string
          format: int64
          title: is incremented every time there is an update to catalog template and can be used to track if an update is needed
      title: CatalogTemplate is a series of constraints required to make an offer for an instance in a particular category
    Any:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    GetCatalogTemplatesRequest:
      type: object
      properties:
        category_type:
          $ref: '#/components/schemas/CategoryType'
        category_id:
          type:
          - string
          - 'null'
          format: int64
          description: 'if no category_id is set in the request, it returns a

            list of templates for all the child categories

            in the specified category type.'
        lang_code:
          $ref: '#/components/schemas/LanguageCode'
    CatalogConstraint:
      type: object
      properties:
        attribute_key:
          type: string
          description: English snake cased unique key used to identify attribute.
        attribute_name:
          type: string
          description: The attribute name in the specified language.
        presence:
          $ref: '#/components/schemas/Presence'
        known_values:
          type: array
          items:
            type: string
          description: 'A list of known attribute values in the specified language, but not limited.

            Values other than these may also be submitted during offer creation.'
        unit:
          type:
          - string
          - 'null'
        value_type:
          $ref: '#/components/schemas/ValueType'
        description:
          type: string
          description: A short description in the language specified.
    Presence:
      type: string
      enum:
      - UNSPECIFIED
      - OPTIONAL
      - REQUIRED
      default: UNSPECIFIED
    GetCatalogTemplatesResponse:
      type: object
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/CatalogTemplate'
    CategoryType:
      type: string
      enum:
      - UNSPECIFIED
      - ELECTRONICS
      - SPORTS
      - KIDS
      default: UNSPECIFIED
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: 'A developer-facing error message, which should be in English. Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
          description: 'A list of messages that carry the error details.  There is a common set of

            message types for APIs to use.'
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    LanguageCode:
      type: string
      enum:
      - UNSPECIFIED
      - DE
      - EN
      default: UNSPECIFIED
      title: Based on the https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
    ValueType:
      type: string
      enum:
      - UNSPECIFIED
      - INTEGER
      - DECIMAL
      - STRING
      default: UNSPECIFIED
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      name: Authorization
      in: header
