openapi: 3.2.0
info:
  title: Merchant Buyback Bid Service API
  description: The refurbed merchant API allows to access and manage markets, currencies, instances, shipping profiles, offers, market offers, orders and order items.
  version: '1.0'
  contact:
    name: Refurbed Merchant Integrations Team
    email: integrations@refurbed.com
servers:
- url: https://api.refurbed.com
security:
- APIKeyAuth: []
tags:
- name: BuybackBidService
paths:
  /refb.merchant.v1.BuybackBidService/CreateBuybackBid:
    post:
      summary: Creates a single bid
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - INVALID_ARGUMENT

        - product does not exist

        - set of attributes is incompatible for a product

        - invalid input data is provided

        - ALREADY_EXISTS

        - there''s already an active bid for the given product, attributes and grade combination'
      operationId: CreateBuybackBid
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuybackBidResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuybackBidRequest'
        required: true
  /refb.merchant.v1.BuybackBidService/CreateBuybackMarketBid:
    post:
      summary: Adds a new price for a marketplace inside an existing bid
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - INVALID_ARGUMENT

        - bid does not exist

        - invalid input data is provided

        - ALREADY_EXISTS

        - there''s already an active bid for the given market'
      operationId: CreateBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuybackMarketBidResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuybackMarketBidRequest'
        required: true
  /refb.merchant.v1.BuybackBidService/DeleteBuybackBid:
    post:
      summary: Deletes a single bid
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when bid is not found

        - INVALID_ARGUMENT

        - invalid input data is provided'
      operationId: DeleteBuybackBid
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBuybackBidRequest'
        required: true
  /refb.merchant.v1.BuybackBidService/DeleteBuybackMarketBid:
    post:
      summary: Deletes a price for a marketplace inside an existing bid
      description: 'This is only allowed if the deletion doesn''t result in a bid without any market prices.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - market bid does not exist

        - FAILED_PRECONDITION

        - bid has only 1 market price remaining (i.e. bid requires manual deletion)'
      operationId: DeleteBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBuybackMarketBidRequest'
        required: true
  /refb.merchant.v1.BuybackBidService/GetSecondOfferBuybackMarketBid:
    post:
      summary: Gets a market bid available for making a second offer
      description: 'To make a second offer, the merchant has to find a different market bid and update the order item accordingly.

        In order to get a market bid for the second offer, the merchant has to provide the order item ID that they intend to change,

        as well as all the details about the actual device they have received. Only the price valid at the time of order

        creation will be returned, to ensure fair competition and prevent merchants from lowering the price before

        making the second offer.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - INVALID_ARGUMENT

        - invalid input data is provided

        - NOT_FOUND

        - order item does not exist or it''s not in "received" state

        - an appropriate market bid cannot be found that was active at the time of order'
      operationId: GetSecondOfferBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSecondOfferBuybackMarketBidResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSecondOfferBuybackMarketBidRequest'
        required: true
  /refb.merchant.v1.BuybackBidService/ListBuybackBids:
    post:
      summary: Lists all bids
      description: 'Returns the current bid versions only.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - INVALID_ARGUMENT

        - when pagination limit is too large (>100)

        - when both "ending_before" and "starting_after" are specified in pagination'
      operationId: ListBuybackBids
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuybackBidsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListBuybackBidsRequest'
        required: true
  /refb.merchant.v1.BuybackBidService/UpdateBuybackBid:
    post:
      summary: Updates a single bid by setting its stock
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when bid is not found

        - INVALID_ARGUMENT

        - invalid input data is provided'
      operationId: UpdateBuybackBid
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBuybackBidResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBuybackBidRequest'
        required: true
  /refb.merchant.v1.BuybackBidService/UpdateBuybackMarketBid:
    post:
      summary: Sets the price for a marketplace for an existing bid
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - market bid does not exist

        - INVALID_ARGUMENT

        - invalid input data is provided'
      operationId: UpdateBuybackMarketBid
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBuybackMarketBidResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackBidService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBuybackMarketBidRequest'
        required: true
components:
  schemas:
    CreateBuybackBidResponse:
      type: object
      properties:
        bid:
          $ref: '#/components/schemas/BuybackBid'
    BuybackBid:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: Primary key.
        product_id:
          type: string
          format: int64
          title: The product id
        product_name:
          type: string
          description: Human-readable name for the product.
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/BuybackAttribute'
          title: List of attributes assigned to the product
        stock:
          type:
          - integer
          - 'null'
          format: int64
          title: Stock the merchant is willing to buy. If undefined it means unlimited
        grading:
          $ref: '#/components/schemas/BuybackBidGrading'
          title: Grading for the desired product
        market_bids:
          type: array
          items:
            $ref: '#/components/schemas/BuybackMarketBid'
          description: Configured market bids. Unique by market code.
        sku:
          type:
          - string
          - 'null'
          title: Bid SKU
    UpdateBuybackMarketBidResponse:
      type: object
      properties:
        market_bid:
          $ref: '#/components/schemas/BuybackMarketBid'
    CreateBuybackBidRequest:
      type: object
      properties:
        product_id:
          type: string
          format: int64
          title: The Product id
          required:
          - product_id
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ProductAttribute'
          title: List of attributes assigned to the product
          required:
          - attributes
        stock:
          type:
          - integer
          - 'null'
          format: int64
          title: Stock to buy. If left undefined the stock will be considered unlimited
        grading:
          $ref: '#/components/schemas/BuybackBidGrading'
          title: Grading for the desired product
        market_bids:
          type: array
          items:
            $ref: '#/components/schemas/CreateBuybackMarketBid'
          title: Market bids to create
          required:
          - market_bids
        sku:
          type:
          - string
          - 'null'
          title: Bid SKU
      required:
      - product_id
      - attributes
      - market_bids
    BuybackMarketBid:
      type: object
      properties:
        bid_id:
          type: string
          format: int64
          title: Bid ID
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: Price as a string containing a decimal number
        bid_sku:
          type:
          - string
          - 'null'
          title: Bid SKU
    ListBuybackBidsResponse:
      type: object
      properties:
        bids:
          type: array
          items:
            $ref: '#/components/schemas/BuybackBid'
          description: The bids found.
        has_more:
          type: boolean
          description: Indicates whether there are more results available.
    BuybackAttribute:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: Attribute ID
        name:
          type: string
          description: Human-readable name.
        type:
          $ref: '#/components/schemas/BuybackAttributeType'
          description: Type for the attribute.
        value_str:
          $ref: '#/components/schemas/StringValue'
          description: Value is set if type is ENUM.
        value_num:
          $ref: '#/components/schemas/NumericValue'
          description: Value is set if type is NUMERIC.
    StringSetContainsFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            type: string
        none_of:
          type: array
          items:
            type: string
        contains:
          type:
          - string
          - 'null'
    Int64Filter:
      type: object
      properties:
        any_of:
          type: array
          items:
            type: string
            format: int64
        none_of:
          type: array
          items:
            type: string
            format: int64
    Int64Pagination:
      type: object
      properties:
        limit:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Limit on the number of results to be returned. Between 1 and 100.

            Default and maximum is 100.'
        ending_before:
          type: string
          format: int64
        starting_after:
          type: string
          format: int64
      description: Paginates resources with int64 primary key.
    DeleteBuybackBidRequest:
      type: object
      properties:
        identifier:
          $ref: '#/components/schemas/BuybackBidIdentifier'
          description: Accepts either bid ID or SKU.
          title: The identifier of the bid
    CurrencyCode:
      type: string
      enum:
      - UNSPECIFIED
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XUA
      - YER
      - ZAR
      - ZMW
      - ZWL
      default: UNSPECIFIED
      description: "Currency codes as specified in ISO 4217.\n\n - AED: XTS = 963; // Code reserved for testing purposes."
    BuybackMarketBidSummary:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: Primary key
        product_id:
          type: string
          format: int64
          title: The product id
        product_name:
          type: string
          title: The user-friendly product_name
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/BuybackAttribute'
          title: List of attributes assigned to the product
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market
        grading:
          $ref: '#/components/schemas/BuybackBidGrading'
          title: Grading for the desired product
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: The price
        bid_id:
          type: string
          format: int64
          title: Bid ID
        bid_sku:
          type:
          - string
          - 'null'
          title: Bid SKU
    Any:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    OptionalUInt32RangeFilter:
      type: object
      properties:
        is_set:
          type:
          - boolean
          - 'null'
        gt:
          type:
          - integer
          - 'null'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          format: int64
        any_of:
          type: array
          items:
            type: integer
            format: int64
        none_of:
          type: array
          items:
            type: integer
            format: int64
        le:
          type:
          - integer
          - 'null'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          format: int64
    UpdateBuybackBidResponse:
      type: object
      properties:
        bid:
          $ref: '#/components/schemas/BuybackBid'
    GetSecondOfferBuybackMarketBidRequest:
      type: object
      properties:
        order_item_id:
          type: string
          format: int64
          title: The ID of the product received (may be the same as order item's product ID)
          required:
          - order_item_id
        product_id:
          type: string
          format: int64
          title: The product ID of the product received (may be the same as order item's product ID)
          required:
          - product_id
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ProductAttribute'
          title: The list of attributes of the product received (may be the same as order item's attributes)
          required:
          - attributes
        grading:
          $ref: '#/components/schemas/BuybackBidGrading'
          title: 'The grading of the product received (same as order item''s grading, if the product received doesn''t have a

            different grading)'
      required:
      - order_item_id
      - product_id
      - attributes
    BuybackBidIdentifier:
      type: object
      properties:
        id:
          type: string
          format: int64
        sku:
          type: string
    Enum:
      type: object
      properties:
        id:
          type: string
          format: int64
        any_of:
          type: array
          items:
            type: string
        none_of:
          type: array
          items:
            type: string
    Attribute:
      type: object
      properties:
        value_str:
          $ref: '#/components/schemas/Enum'
        value_num:
          $ref: '#/components/schemas/Numeric'
    BuybackBidGrading:
      type: string
      enum:
      - UNSPECIFIED
      - A
      - B
      - C
      - D
      - E
      default: UNSPECIFIED
    BuybackAttributeType:
      type: string
      enum:
      - UNSPECIFIED
      - ENUM
      - NUMERIC
      default: UNSPECIFIED
      title: "- ENUM: An enumerated attribute has a string value, e.g. Colour = black.\n - NUMERIC: A numeric attribute has a numeric value with an optional unit, e.g.\nMemory = 2 GB"
    CreateBuybackMarketBidRequest:
      type: object
      properties:
        bid_identifier:
          $ref: '#/components/schemas/BuybackBidIdentifier'
          description: Accepts either bid ID or SKU.
          title: The identifier of the bid
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: Price as a string containing a decimal number
          required:
          - price
      required:
      - price
    CreateBuybackMarketBidResponse:
      type: object
      properties:
        market_bid:
          $ref: '#/components/schemas/BuybackMarketBid'
    NumericValue:
      type: object
      properties:
        value:
          type: number
          format: double
        unit:
          type:
          - string
          - 'null'
    TextSearchFilter:
      type: object
      properties:
        term:
          type: string
          title: Full-text match
    CurrencyCodeFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyCode'
        none_of:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyCode'
    DeleteBuybackMarketBidRequest:
      type: object
      properties:
        bid_identifier:
          $ref: '#/components/schemas/BuybackBidIdentifier'
          description: Accepts either bid ID or SKU.
          title: The identifier of the bid
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market
    CountryCode:
      type: string
      enum:
      - UNSPECIFIED
      - AF
      - AL
      - AQ
      - DZ
      - AS
      - AD
      - AO
      - AG
      - AZ
      - AR
      - AU
      - AT
      - BS
      - BH
      - BD
      - AM
      - BB
      - BE
      - BM
      - BT
      - BO
      - BA
      - BW
      - BV
      - BR
      - BZ
      - IO
      - SB
      - VG
      - BN
      - BG
      - MM
      - BI
      - BY
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - LK
      - TD
      - CL
      - CN
      - TW
      - CX
      - CC
      - CO
      - KM
      - YT
      - CG
      - CD
      - CK
      - CR
      - HR
      - CU
      - CY
      - CZ
      - BJ
      - DK
      - DM
      - DO
      - EC
      - SV
      - GQ
      - ET
      - ER
      - EE
      - FO
      - FK
      - GS
      - FJ
      - FI
      - AX
      - FR
      - GF
      - PF
      - TF
      - DJ
      - GA
      - GE
      - GM
      - PS
      - DE
      - GH
      - GI
      - KI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GN
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IL
      - IT
      - CI
      - JM
      - JP
      - KZ
      - JO
      - KE
      - KP
      - KR
      - KW
      - KG
      - LA
      - LB
      - LS
      - LV
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MQ
      - MR
      - MU
      - MX
      - MC
      - MN
      - MD
      - ME
      - MS
      - MA
      - MZ
      - OM
      - NA
      - NR
      - NP
      - NL
      - CW
      - AW
      - SX
      - BQ
      - NC
      - VU
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - 'NO'
      - MP
      - UM
      - FM
      - MH
      - PW
      - PK
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - GW
      - TL
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - AI
      - LC
      - MF
      - PM
      - VC
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SK
      - VN
      - SI
      - SO
      - ZA
      - ZW
      - ES
      - SS
      - SD
      - EH
      - SR
      - SJ
      - SZ
      - SE
      - CH
      - SY
      - TJ
      - TH
      - TG
      - TK
      - TO
      - TT
      - AE
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - MK
      - EG
      - GB
      - GG
      - JE
      - IM
      - TZ
      - US
      - VI
      - BF
      - UY
      - UZ
      - VE
      - WF
      - WS
      - YE
      - ZM
      default: UNSPECIFIED
      description: Alpha-2 country codes as specified in ISO 3166-1.
    UpdateBuybackMarketBidRequest:
      type: object
      properties:
        bid_identifier:
          $ref: '#/components/schemas/BuybackBidIdentifier'
          description: Accepts either bid ID or SKU.
          title: The identifier of the bid
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market of the market
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: Price as a string containing a decimal number
          required:
          - price
      required:
      - price
    SortOrder:
      type: string
      enum:
      - ASC
      - DESC
      default: ASC
    GetSecondOfferBuybackMarketBidResponse:
      type: object
      properties:
        market_bid:
          $ref: '#/components/schemas/BuybackMarketBidSummary'
    ListBuybackBidsRequest:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Int64Pagination'
        sort:
          $ref: '#/components/schemas/ListBuybackBidsRequest.Sort'
        filter:
          $ref: '#/components/schemas/ListBuybackBidsRequest.Filter'
    StringValue:
      type: object
      properties:
        value:
          type: string
    CountryCodeFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            $ref: '#/components/schemas/CountryCode'
        none_of:
          type: array
          items:
            $ref: '#/components/schemas/CountryCode'
    ListBuybackBidsRequest.Sort.By:
      type: string
      enum:
      - ID
      - PRODUCT_ID
      - GRADING
      - STOCK
      - PRODUCT_NAME
      - SKU
      default: ID
    BuybackAttributeFilter:
      type: object
      properties:
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
    ProductAttribute:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: Attribute ID
          required:
          - id
        value_str:
          type: string
          required:
          - value_str
        value_num:
          type: number
          format: double
          required:
          - value_num
      required:
      - id
      - value_str
      - value_num
    ListBuybackBidsRequest.Filter:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Int64Filter'
        product_id:
          $ref: '#/components/schemas/Int64Filter'
        grading:
          $ref: '#/components/schemas/BuybackBidGradingFilter'
        stock:
          $ref: '#/components/schemas/OptionalUInt32RangeFilter'
        market_code:
          $ref: '#/components/schemas/CountryCodeFilter'
        currency_code:
          $ref: '#/components/schemas/CurrencyCodeFilter'
        product_name:
          $ref: '#/components/schemas/TextSearchFilter'
        product_attribute:
          $ref: '#/components/schemas/BuybackAttributeFilter'
        sku:
          $ref: '#/components/schemas/StringSetContainsFilter'
    ListBuybackBidsRequest.Sort:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/SortOrder'
        by:
          $ref: '#/components/schemas/ListBuybackBidsRequest.Sort.By'
    CreateBuybackMarketBid:
      type: object
      properties:
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: Price as a string containing a decimal number
          required:
          - price
      required:
      - price
    BuybackBidGradingFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            $ref: '#/components/schemas/BuybackBidGrading'
        none_of:
          type: array
          items:
            $ref: '#/components/schemas/BuybackBidGrading'
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: 'A developer-facing error message, which should be in English. Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
          description: 'A list of messages that carry the error details.  There is a common set of

            message types for APIs to use.'
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    UpdateBuybackBidRequest:
      type: object
      properties:
        identifier:
          $ref: '#/components/schemas/BuybackBidIdentifier'
          description: Accepts either bid ID or SKU.
          title: The identifier of the bid to update
        stock:
          type:
          - integer
          - 'null'
          format: int64
          title: Stock to buy. If left undefined the stock will be considered unlimited
    Numeric:
      type: object
      properties:
        id:
          type: string
          format: int64
        any_of:
          type: array
          items:
            type: number
            format: double
        none_of:
          type: array
          items:
            type: number
            format: double
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      name: Authorization
      in: header
