swagger: '2.0'
info:
  title: Affiliate Partner BuybackBidService InstanceService API
  version: '1.0'
  description: The refurbed affiliate partner API allows to retrieve info about markets, products and instances including the buybox info (current price, grading, warranty).
  contact:
    name: Refurbed Affiliate Partner Integrations Team
    email: integrations@refurbed.com
host: api.refurbed.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- APIKeyAuth: []
tags:
- name: InstanceService
paths:
  /refb.partner.affiliate.v1.InstanceService/GetInstance:
    post:
      summary: Gets a single instance.
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the instance is not found\n- INVALID_ARGUMENT\n  - when invalid GTIN is provided"
      operationId: GetInstance
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/GetInstanceResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetInstanceRequest'
      tags:
      - InstanceService
  /refb.partner.affiliate.v1.InstanceService/ListInstancesByProduct:
    post:
      summary: Lists instances for a specific product.
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination"
      operationId: ListInstancesByProduct
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/ListInstancesByProductResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ListInstancesByProductRequest'
      tags:
      - InstanceService
  /refb.merchant.v1.InstanceService/BatchGetInstances:
    post:
      summary: Batch gets single instances.
      description: "Known errors:\n - identical to the GetInstance operation"
      operationId: BatchGetInstances
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/BatchGetInstancesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status_2'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BatchGetInstancesRequest'
      tags:
      - InstanceService
  /refb.merchant.v1.InstanceService/GetInstance:
    post:
      summary: Gets a single instance.
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the instance is not found\n- INVALID_ARGUMENT\n  - when invalid GTIN is provided\n- FAILED_PRECONDITION\n  - when multiple instances are found for the provided MPN\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded"
      operationId: GetInstance
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/GetInstanceResponse_2'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status_2'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetInstanceRequest_2'
      tags:
      - InstanceService
definitions:
  MediaType:
    type: string
    enum:
    - UNSPECIFIED
    - IMAGE
    default: UNSPECIFIED
  Instance:
    type: object
    properties:
      id:
        type: string
        format: int64
        description: Primary key.
      name:
        type: string
        description: Human-readable name.
      product_id:
        type: string
        format: int64
        description: Identifier of product this instance is linked with.
      category_id:
        type: string
        format: int64
        description: Identifier of category this instance is linked with.
      category_path:
        type: array
        items:
          type: string
        description: Human-readable names of category hierarchy path (e.g. ["Smartphones", "Apple"]).
      attributes:
        type: array
        items:
          $ref: '#/definitions/Attribute'
        description: List of attributes assigned to this instance including product attributes.
      medias:
        type: array
        items:
          $ref: '#/definitions/Media'
        description: 'List of media assigned to this instance including the instance''s product

          media.'
      buybox:
        $ref: '#/definitions/Buybox'
        description: 'Buybox data, defines the price and conditions (grading, warranty) by which

          this instance is sold.'
    description: An instance.
  Int64Pagination:
    type: object
    properties:
      limit:
        type: integer
        format: int64
        x-nullable: true
        description: 'Limit on the number of results to be returned. Between 1 and 100.

          Default and maximum is 100.'
      ending_before:
        type: string
        format: int64
      starting_after:
        type: string
        format: int64
    description: Paginates resources with int64 primary key.
  OfferWarranty:
    type: string
    enum:
    - UNSPECIFIED
    - M12
    - M18
    - M24
    - M30
    - M36
    default: UNSPECIFIED
    description: "The warranty the merchant provides to the customer. Only 12 months is supported.\n\n - M12: 12 months.\n - M18: 18 months, deprecated. Only 12 months is supported for new offers.\n - M24: 24 months, deprecated. Only 12 months is supported for new offers.\n - M30: 30 months, deprecated. Only 12 months is supported for new offers.\n - M36: 36 months, deprecated. Only 12 months is supported for new offers."
  Instance_2:
    type: object
    properties:
      id:
        type: string
        format: int64
        description: Primary key.
      name:
        type: string
        description: Human-readable name.
    description: An instance.
  BatchGetInstancesResponse:
    type: object
    properties:
      results:
        type: array
        items:
          $ref: '#/definitions/BatchGetInstancesResponse.Result'
        description: Results of the get operation. In request order.
  ListInstancesByProductRequest:
    type: object
    properties:
      pagination:
        $ref: '#/definitions/Int64Pagination'
      sort:
        $ref: '#/definitions/ListInstancesByProductRequest.Sort'
      filter:
        $ref: '#/definitions/ListInstancesByProductRequest.Filter'
      site_market_code:
        type: string
        description: The code of a site market where the instances are sold.
        required:
        - site_market_code
      product_id:
        type: string
        format: int64
        description: Identifier of product instances are linked with.
        required:
        - product_id
      back_link:
        type: string
        x-nullable: true
        description: 'URL linking back to partner''s site.


          If provided, it is used to populate a query parameter for each

          instance buybox link.'
    required:
    - site_market_code
    - product_id
  Buybox:
    type: object
    properties:
      instance_id:
        type: string
        format: int64
        description: Primary key of the linked instance.
      instance_name:
        type: string
        description: Human-readable name of the linked instance.
      grading:
        $ref: '#/definitions/OfferGrading'
        description: Grading of the item sold.
      grading_name:
        type: string
        description: Human-readable name of the grading.
      warranty:
        $ref: '#/definitions/OfferWarranty'
        description: Warranty of the item sold.
      currency_code:
        $ref: '#/definitions/CurrencyCode'
        description: Currency in which the item is sold.
      price:
        type: string
        description: Price at which the item is sold.
      link:
        type: string
        description: 'URL to the item on refurbed marketplace.


          If a back link is specified in the original request an additional query

          parameter will be included in the link.'
    description: A Buybox.
  ListInstancesByProductRequest.Filter:
    type: object
    properties:
      id:
        $ref: '#/definitions/InstanceIDFilter'
      name:
        $ref: '#/definitions/InstanceNameFilter'
      attributes:
        $ref: '#/definitions/AttributesFilter'
  Media:
    type: object
    properties:
      type:
        $ref: '#/definitions/MediaType'
        description: Type of the media.
      url:
        type: string
        description: URL to the media.
    description: A media.
  OfferGrading:
    type: string
    enum:
    - UNSPECIFIED
    - A
    - B
    - C
    default: UNSPECIFIED
    description: The grading of the item being sold.
  GetInstanceRequest:
    type: object
    properties:
      site_market_code:
        type: string
        description: The code of a site market where the instance is sold.
        required:
        - site_market_code
      id:
        type: string
        format: int64
      gtin:
        type: string
        description: A GTIN-8, GTIN-12 or GTIN-13. Note that EAN-13 and UPC-A codes are GTINs.
      back_link:
        type: string
        x-nullable: true
        description: 'URL linking back to partner''s site.


          If provided, it is used to populate a query parameter for instance

          buybox link.'
    required:
    - site_market_code
  BatchGetInstancesRequest.Get:
    type: object
    properties:
      identifier:
        $ref: '#/definitions/InstanceIdentifier'
        description: The identifier of the instance to get.
  InstanceIDFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          type: string
          format: int64
  Any:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  Attribute:
    type: object
    properties:
      id:
        type: string
        format: int64
        description: Primary key.
      name:
        type: string
        description: Human-readable name.
      type:
        $ref: '#/definitions/AttributeType'
        description: Type fo the attribute.
      value_str:
        $ref: '#/definitions/StringValue'
        description: Value is set if type is ENUM.
      value_num:
        $ref: '#/definitions/NumericValue'
        description: Value is set if type is NUMERIC.
    description: An Attribute.
  SortOrder:
    type: string
    enum:
    - ASC
    - DESC
    default: ASC
  GetInstanceResponse:
    type: object
    properties:
      instance:
        $ref: '#/definitions/Instance'
        description: The instance retrieved.
  InstanceNameFilter:
    type: object
    properties:
      matches:
        type: string
        x-nullable: true
  ListInstancesByProductResponse:
    type: object
    properties:
      instances:
        type: array
        items:
          $ref: '#/definitions/Instance'
        description: The instances found.
      has_more:
        type: boolean
        description: Indicates whether there are more results available.
  Status:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/Any'
  NumericValue:
    type: object
    properties:
      value:
        type: number
        format: double
      unit:
        type: string
        x-nullable: true
  BatchGetInstancesRequest:
    type: object
    properties:
      instances:
        type: array
        items:
          $ref: '#/definitions/BatchGetInstancesRequest.Get'
        description: Instances to get. Between 1 and 50.
        required:
        - instances
    required:
    - instances
  EnumValueCond:
    type: object
    properties:
      eq:
        type: string
        x-nullable: true
    description: An enum attribute value condition.
  InstanceIdentifier:
    type: object
    properties:
      id:
        type: string
        format: int64
        description: Internal id.
      gtin:
        type: string
        description: A GTIN-8, GTIN-12 or GTIN-13. Note that EAN-13 and UPC-A codes are GTINs.
      mpn:
        type: string
        description: Manufacturer Part Number.
    description: Identifier of an instance.
  Status_2:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
      details:
        type: array
        items:
          $ref: '#/definitions/Any_2'
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
  GetInstanceRequest_2:
    type: object
    properties:
      id:
        type: string
        format: int64
      gtin:
        type: string
        description: A GTIN-8, GTIN-12 or GTIN-13. Note that EAN-13 and UPC-A codes are GTINs.
      mpn:
        type: string
        description: Manufacturer Part Number.
  NumericValueCond:
    type: object
    properties:
      eq:
        type: number
        format: double
        x-nullable: true
    description: A numeric attribute value condition.
  CurrencyCode:
    type: string
    enum:
    - UNSPECIFIED
    - AED
    - AFN
    - ALL
    - AMD
    - ANG
    - AOA
    - ARS
    - AUD
    - AWG
    - AZN
    - BAM
    - BBD
    - BDT
    - BGN
    - BHD
    - BIF
    - BMD
    - BND
    - BOB
    - BOV
    - BRL
    - BSD
    - BTN
    - BWP
    - BYR
    - BZD
    - CAD
    - CDF
    - CHE
    - CHF
    - CHW
    - CLF
    - CLP
    - CNY
    - COP
    - COU
    - CRC
    - CUC
    - CUP
    - CVE
    - CZK
    - DJF
    - DKK
    - DOP
    - DZD
    - EGP
    - ERN
    - ETB
    - EUR
    - FJD
    - FKP
    - GBP
    - GEL
    - GHS
    - GIP
    - GMD
    - GNF
    - GTQ
    - GYD
    - HKD
    - HNL
    - HRK
    - HTG
    - HUF
    - IDR
    - ILS
    - INR
    - IQD
    - IRR
    - ISK
    - JMD
    - JOD
    - JPY
    - KES
    - KGS
    - KHR
    - KMF
    - KPW
    - KRW
    - KWD
    - KYD
    - KZT
    - LAK
    - LBP
    - LKR
    - LRD
    - LSL
    - LTL
    - LYD
    - MAD
    - MDL
    - MGA
    - MKD
    - MMK
    - MNT
    - MOP
    - MRO
    - MUR
    - MVR
    - MWK
    - MXN
    - MXV
    - MYR
    - MZN
    - NAD
    - NGN
    - NIO
    - NOK
    - NPR
    - NZD
    - OMR
    - PAB
    - PEN
    - PGK
    - PHP
    - PKR
    - PLN
    - PYG
    - QAR
    - RON
    - RSD
    - RUB
    - RWF
    - SAR
    - SBD
    - SCR
    - SDG
    - SEK
    - SGD
    - SHP
    - SLL
    - SOS
    - SRD
    - SSP
    - STD
    - SVC
    - SYP
    - SZL
    - THB
    - TJS
    - TMT
    - TND
    - TOP
    - TRY
    - TTD
    - TWD
    - TZS
    - UAH
    - UGX
    - USD
    - USN
    - UYI
    - UYU
    - UZS
    - VEF
    - VND
    - VUV
    - WST
    - XAF
    - XAG
    - XAU
    - XBA
    - XBB
    - XBC
    - XBD
    - XCD
    - XDR
    - XOF
    - XPD
    - XPF
    - XPT
    - XSU
    - XUA
    - YER
    - ZAR
    - ZMW
    - ZWL
    default: UNSPECIFIED
    description: "Currency codes as specified in ISO 4217.\n\n - AED: XTS = 963; // Code reserved for testing purposes."
  AttributeType:
    type: string
    enum:
    - UNSPECIFIED
    - ENUM
    - NUMERIC
    default: UNSPECIFIED
    description: "A type of an attribute.\n\n - ENUM: An enumerated attribute has a string value, e.g. Colour = black.\n - NUMERIC: A numeric attribute has a numeric value with an optional unit, e.g.\nMemory = 2 GB"
  BatchGetInstancesResponse.Result:
    type: object
    properties:
      status:
        $ref: '#/definitions/Status_2'
      instance:
        $ref: '#/definitions/Instance_2'
        x-nullable: true
        description: Retrieved instance. Set if status code is OK.
  Expression:
    type: object
    properties:
      attribute_id:
        type: string
        format: int64
      cond_enum:
        $ref: '#/definitions/EnumValueCond'
      cond_numeric:
        $ref: '#/definitions/NumericValueCond'
    description: An attribute expression.
  ListInstancesByProductRequest.Sort:
    type: object
    properties:
      order:
        $ref: '#/definitions/SortOrder'
      by:
        $ref: '#/definitions/ListInstancesByProductRequest.Sort.By'
  StringValue:
    type: object
    properties:
      value:
        type: string
  AttributesFilter:
    type: object
    properties:
      all_of:
        type: array
        items:
          $ref: '#/definitions/Expression'
  GetInstanceResponse_2:
    type: object
    properties:
      instance:
        $ref: '#/definitions/Instance_2'
  ListInstancesByProductRequest.Sort.By:
    type: string
    enum:
    - ID
    - PRICE
    - NAME
    default: ID
  Any_2:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  Instance_3:
    type: object
    properties:
      id:
        type: string
        format: int64
        description: Primary key.
      name:
        type: string
        description: Human-readable name.
    description: An instance.
  Status_3:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
      details:
        type: array
        items:
          $ref: '#/definitions/Any_3'
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
  GetInstanceRequest_3:
    type: object
    properties:
      id:
        type: string
        format: int64
      gtin:
        type: string
        description: A GTIN-8, GTIN-12 or GTIN-13. Note that EAN-13 and UPC-A codes are GTINs.
      mpn:
        type: string
        description: Manufacturer Part Number.
  BatchGetInstancesResponse.Result_2:
    type: object
    properties:
      status:
        $ref: '#/definitions/Status_3'
      instance:
        $ref: '#/definitions/Instance_3'
        x-nullable: true
        description: Retrieved instance. Set if status code is OK.
  Any_3:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  GetInstanceResponse_3:
    type: object
    properties:
      instance:
        $ref: '#/definitions/Instance_3'
securityDefinitions:
  APIKeyAuth:
    type: apiKey
    name: Authorization
    in: header
