openapi: 3.2.0
info:
  title: Merchant Buyback Order Service API
  description: The refurbed merchant API allows to access and manage markets, currencies, instances, shipping profiles, offers, market offers, orders and order items.
  version: '1.0'
  contact:
    name: Refurbed Merchant Integrations Team
    email: integrations@refurbed.com
servers:
- url: https://api.refurbed.com
security:
- APIKeyAuth: []
tags:
- name: BuybackOrderService
paths:
  /refb.merchant.v1.BuybackOrderService/ListBuybackOrders:
    post:
      summary: Lists all buyback orders
      description: 'Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - INVALID_ARGUMENT

        - when pagination limit is too large (>100)

        - when both "ending_before" and "starting_after" are specified in pagination'
      operationId: ListBuybackOrders
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuybackOrdersResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackOrderService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListBuybackOrdersRequest'
        required: true
components:
  schemas:
    BuybackOrderItemState:
      type: string
      enum:
      - UNSPECIFIED
      - ORDERED
      - LABEL_SENT
      - CANCELLED
      - RECEIVED
      - ACCEPTED
      - SECOND_OFFER
      - REJECTED
      - RETURNED
      default: UNSPECIFIED
      description: "- ORDERED: New order. Next state: LABEL_SENT\n - LABEL_SENT: Order item is ready to be shipped. Next state: CANCELLED, RECEIVED.\n - CANCELLED: Order item was never received. Final state.\n - RECEIVED: Order item was received by the merchant. Next state: ACCEPTED, SECOND_OFFER, REJECTED\n - ACCEPTED: Order item was accepted for fulfillment. Final Status\n - SECOND_OFFER: Order item was in worse conditions than expected, a second offer has been issued to the customer.\nNext state: ACCEPTED, REJECTED\n - REJECTED: Order item was refused. Next state: RETURNED\n - RETURNED: Order item was shipped back to customer. Final Status"
      title: Represents the state of an order item
    ListBuybackOrdersRequest.Sort.By:
      type: string
      enum:
      - ID
      - STATE
      - PRODUCT_NAME
      - CREATED_AT
      - SKU
      default: ID
    BuybackOrder:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: Primary key.
        return_address:
          $ref: '#/components/schemas/v1.Address'
          title: The address to return the item(s) in case of rejection of second offer
        created_at:
          type: string
          format: date-time
          title: When the order was created
        order_items:
          type: array
          items:
            $ref: '#/components/schemas/v1.BuybackOrderItem'
          title: List of items to ship
      description: A buyback order.
    ListBuybackOrdersRequest.Sort:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/SortOrder'
        by:
          $ref: '#/components/schemas/ListBuybackOrdersRequest.Sort.By'
    BuybackAttribute:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: Attribute ID
        name:
          type: string
          description: Human-readable name.
        type:
          $ref: '#/components/schemas/BuybackAttributeType'
          description: Type for the attribute.
        value_str:
          $ref: '#/components/schemas/StringValue'
          description: Value is set if type is ENUM.
        value_num:
          $ref: '#/components/schemas/NumericValue'
          description: Value is set if type is NUMERIC.
    Int64Pagination:
      type: object
      properties:
        limit:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Limit on the number of results to be returned. Between 1 and 100.

            Default and maximum is 100.'
        ending_before:
          type: string
          format: int64
        starting_after:
          type: string
          format: int64
      description: Paginates resources with int64 primary key.
    StringSetContainsFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            type: string
        none_of:
          type: array
          items:
            type: string
        contains:
          type:
          - string
          - 'null'
    Int64Filter:
      type: object
      properties:
        any_of:
          type: array
          items:
            type: string
            format: int64
        none_of:
          type: array
          items:
            type: string
            format: int64
    TimestampRangeFilter:
      type: object
      properties:
        gt:
          type:
          - string
          - 'null'
          format: date-time
        ge:
          type:
          - string
          - 'null'
          format: date-time
        any_of:
          type: array
          items:
            type: string
            format: date-time
        none_of:
          type: array
          items:
            type: string
            format: date-time
        le:
          type:
          - string
          - 'null'
          format: date-time
        lt:
          type:
          - string
          - 'null'
          format: date-time
    v1.Address:
      type: object
      properties:
        first_name:
          type: string
        family_name:
          type: string
        entity:
          $ref: '#/components/schemas/AddressEntity'
        company_name:
          type:
          - string
          - 'null'
          description: The company name. Set for company addresses only.
        company_vatin:
          type:
          - string
          - 'null'
          description: The VAT identification number. Set for company *invoice* addresses only.
        personal_vatin:
          type:
          - string
          - 'null'
          description: The VAT identification number. Set for personal *invoice* addresses only.
        country_code:
          $ref: '#/components/schemas/CountryCode'
        post_code:
          type: string
        town:
          type: string
        street_name:
          type: string
        house_no:
          type:
          - string
          - 'null'
          description: 'The house number. This is optional as some countries know addresses

            without numbers.'
        supplement:
          type:
          - string
          - 'null'
          description: An optional address supplement.
        phone_number:
          type: string
    CurrencyCode:
      type: string
      enum:
      - UNSPECIFIED
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XUA
      - YER
      - ZAR
      - ZMW
      - ZWL
      default: UNSPECIFIED
      description: "Currency codes as specified in ISO 4217.\n\n - AED: XTS = 963; // Code reserved for testing purposes."
    BuybackMarketBidSummary:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: Primary key
        product_id:
          type: string
          format: int64
          title: The product id
        product_name:
          type: string
          title: The user-friendly product_name
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/BuybackAttribute'
          title: List of attributes assigned to the product
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market
        grading:
          $ref: '#/components/schemas/BuybackBidGrading'
          title: Grading for the desired product
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: The price
        bid_id:
          type: string
          format: int64
          title: Bid ID
        bid_sku:
          type:
          - string
          - 'null'
          title: Bid SKU
    v1.BuybackOrderItem:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: Primary key.
        order_id:
          type: string
          format: int64
          description: Primary key of the order this item belongs to.
        state:
          $ref: '#/components/schemas/BuybackOrderItemState'
          description: Status of this item.
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: The amount the buyer has to pay if the item is accepted
        bid:
          $ref: '#/components/schemas/BuybackMarketBidSummary'
          title: The related market bid
        shipping_tracking_url:
          type:
          - string
          - 'null'
          description: Shipping tracking link, a valid HTTP(S) URL.
        shipping_tracking_number:
          type:
          - string
          - 'null'
        return_tracking_url:
          type:
          - string
          - 'null'
          description: Return tracking link, a valid HTTP(S) URL.
        return_tracking_number:
          type:
          - string
          - 'null'
      description: A buyback order item.
    Any:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    AddressEntity:
      type: string
      enum:
      - UNSPECIFIED
      - MALE
      - FEMALE
      - COMPANY
      default: UNSPECIFIED
    Enum:
      type: object
      properties:
        id:
          type: string
          format: int64
        any_of:
          type: array
          items:
            type: string
        none_of:
          type: array
          items:
            type: string
    Attribute:
      type: object
      properties:
        value_str:
          $ref: '#/components/schemas/Enum'
        value_num:
          $ref: '#/components/schemas/Numeric'
    BuybackBidGrading:
      type: string
      enum:
      - UNSPECIFIED
      - A
      - B
      - C
      - D
      - E
      default: UNSPECIFIED
    BuybackAttributeType:
      type: string
      enum:
      - UNSPECIFIED
      - ENUM
      - NUMERIC
      default: UNSPECIFIED
      title: "- ENUM: An enumerated attribute has a string value, e.g. Colour = black.\n - NUMERIC: A numeric attribute has a numeric value with an optional unit, e.g.\nMemory = 2 GB"
    NumericRangeFilter:
      type: object
      properties:
        gt:
          type:
          - string
          - 'null'
        ge:
          type:
          - string
          - 'null'
        any_of:
          type: array
          items:
            type: string
        none_of:
          type: array
          items:
            type: string
        le:
          type:
          - string
          - 'null'
        lt:
          type:
          - string
          - 'null'
      description: 'Numeric range filter is used for decimal numbers. It is especially

        used for monetary amounts and other quantities where exactness is required.'
    NumericValue:
      type: object
      properties:
        value:
          type: number
          format: double
        unit:
          type:
          - string
          - 'null'
    BuybackOrderItemStateFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            $ref: '#/components/schemas/BuybackOrderItemState'
        none_of:
          type: array
          items:
            $ref: '#/components/schemas/BuybackOrderItemState'
    TextSearchFilter:
      type: object
      properties:
        term:
          type: string
          title: Full-text match
    StringFilter:
      type: object
      properties:
        any_of:
          type: array
          items:
            type: string
        none_of:
          type: array
          items:
            type: string
    CountryCode:
      type: string
      enum:
      - UNSPECIFIED
      - AF
      - AL
      - AQ
      - DZ
      - AS
      - AD
      - AO
      - AG
      - AZ
      - AR
      - AU
      - AT
      - BS
      - BH
      - BD
      - AM
      - BB
      - BE
      - BM
      - BT
      - BO
      - BA
      - BW
      - BV
      - BR
      - BZ
      - IO
      - SB
      - VG
      - BN
      - BG
      - MM
      - BI
      - BY
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - LK
      - TD
      - CL
      - CN
      - TW
      - CX
      - CC
      - CO
      - KM
      - YT
      - CG
      - CD
      - CK
      - CR
      - HR
      - CU
      - CY
      - CZ
      - BJ
      - DK
      - DM
      - DO
      - EC
      - SV
      - GQ
      - ET
      - ER
      - EE
      - FO
      - FK
      - GS
      - FJ
      - FI
      - AX
      - FR
      - GF
      - PF
      - TF
      - DJ
      - GA
      - GE
      - GM
      - PS
      - DE
      - GH
      - GI
      - KI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GN
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IL
      - IT
      - CI
      - JM
      - JP
      - KZ
      - JO
      - KE
      - KP
      - KR
      - KW
      - KG
      - LA
      - LB
      - LS
      - LV
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MQ
      - MR
      - MU
      - MX
      - MC
      - MN
      - MD
      - ME
      - MS
      - MA
      - MZ
      - OM
      - NA
      - NR
      - NP
      - NL
      - CW
      - AW
      - SX
      - BQ
      - NC
      - VU
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - 'NO'
      - MP
      - UM
      - FM
      - MH
      - PW
      - PK
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - GW
      - TL
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - AI
      - LC
      - MF
      - PM
      - VC
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SK
      - VN
      - SI
      - SO
      - ZA
      - ZW
      - ES
      - SS
      - SD
      - EH
      - SR
      - SJ
      - SZ
      - SE
      - CH
      - SY
      - TJ
      - TH
      - TG
      - TK
      - TO
      - TT
      - AE
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - MK
      - EG
      - GB
      - GG
      - JE
      - IM
      - TZ
      - US
      - VI
      - BF
      - UY
      - UZ
      - VE
      - WF
      - WS
      - YE
      - ZM
      default: UNSPECIFIED
      description: Alpha-2 country codes as specified in ISO 3166-1.
    ListBuybackOrdersRequest.Filter:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Int64Filter'
        state:
          $ref: '#/components/schemas/BuybackOrderItemStateFilter'
        product_name:
          $ref: '#/components/schemas/TextSearchFilter'
        product_attribute:
          $ref: '#/components/schemas/BuybackAttributeFilter'
        price:
          $ref: '#/components/schemas/NumericRangeFilter'
        created_at:
          $ref: '#/components/schemas/TimestampRangeFilter'
        shipping_tracking_number:
          $ref: '#/components/schemas/StringFilter'
        sku:
          $ref: '#/components/schemas/StringSetContainsFilter'
    SortOrder:
      type: string
      enum:
      - ASC
      - DESC
      default: ASC
    StringValue:
      type: object
      properties:
        value:
          type: string
    BuybackAttributeFilter:
      type: object
      properties:
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
    ListBuybackOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/BuybackOrder'
          description: The buyback orders found.
        has_more:
          type: boolean
          description: Indicates whether there are more results available.
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: 'A developer-facing error message, which should be in English. Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
          description: 'A list of messages that carry the error details.  There is a common set of

            message types for APIs to use.'
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    Numeric:
      type: object
      properties:
        id:
          type: string
          format: int64
        any_of:
          type: array
          items:
            type: number
            format: double
        none_of:
          type: array
          items:
            type: number
            format: double
    ListBuybackOrdersRequest:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Int64Pagination'
        sort:
          $ref: '#/components/schemas/ListBuybackOrdersRequest.Sort'
        filter:
          $ref: '#/components/schemas/ListBuybackOrdersRequest.Filter'
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      name: Authorization
      in: header
