openapi: 3.2.0
info:
  title: Merchant Buyback Order Item Service API
  description: The refurbed merchant API allows to access and manage markets, currencies, instances, shipping profiles, offers, market offers, orders and order items.
  version: '1.0'
  contact:
    name: Refurbed Merchant Integrations Team
    email: integrations@refurbed.com
servers:
- url: https://api.refurbed.com
security:
- APIKeyAuth: []
tags:
- name: BuybackOrderItemService
paths:
  /refb.merchant.v1.BuybackOrderItemService/Accept:
    post:
      summary: Marks order item as accepted to indicate that the received item matches the…
      description: 'Transitions the order item from the `received` state to `accepted`.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the buyback order item is not found or not in `received` state

        - FAILED_PRECONDITION

        - when the buyback order item is not in a state that permits this action

        - INVALID_ARGUMENT

        - when invalid arguments are provided'
      operationId: Accept
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuybackOrderItemAcceptResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackOrderItemService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuybackOrderItemAcceptRequest'
        required: true
  /refb.merchant.v1.BuybackOrderItemService/ConfirmReceived:
    post:
      summary: Notifies that the merchant has received the item shipped by the seller
      description: 'Transitions the order item from the `label_sent` state to `received`.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the buyback order item is not found or not in `label_sent` state

        - FAILED_PRECONDITION

        - when the buyback order item is not in a state that permits this action

        - INVALID_ARGUMENT

        - when invalid arguments are provided'
      operationId: ConfirmReceived
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuybackOrderItemConfirmReceivedResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackOrderItemService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuybackOrderItemConfirmReceivedRequest'
        required: true
  /refb.merchant.v1.BuybackOrderItemService/MakeSecondOffer:
    post:
      summary: Makes a second offer for the order item
      description: 'It is to indicate that the order item is different from the seller''s description,

        and the merchant is still considering buying it, albeit at a different price point.


        Transitions the order item from the `received` state to `second_offer`.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the buyback order item is not found or not in `received` state

        - FAILED_PRECONDITION

        - when the buyback order item is not in a state that permits this action

        - when the market bid isn''t a valid second offer for the order item

        - INVALID_ARGUMENT

        - when invalid arguments are provided'
      operationId: MakeSecondOffer
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuybackOrderItemMakeSecondOfferResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackOrderItemService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuybackOrderItemMakeSecondOfferRequest'
        required: true
  /refb.merchant.v1.BuybackOrderItemService/NotifyReturned:
    post:
      summary: Notifies that the merchant has shipped the rejected item
      description: 'Transitions the order item from the `rejected` state to `returned`.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the buyback order item is not found or not in `rejected` state

        - FAILED_PRECONDITION

        - when the buyback order item is not in a state that permits this action

        - INVALID_ARGUMENT

        - when invalid arguments are provided'
      operationId: NotifyReturned
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuybackOrderItemNotifyReturnedResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackOrderItemService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuybackOrderItemNotifyReturnedRequest'
        required: true
  /refb.merchant.v1.BuybackOrderItemService/Reject:
    post:
      summary: Marks order item as rejected to indicate that the received item is different…
      description: 'Transitions the order item from the `received` state to `rejected`.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the buyback order item is not found or not in `received` state

        - FAILED_PRECONDITION

        - when the buyback order item is not in a state that permits this action

        - INVALID_ARGUMENT

        - when invalid arguments are provided'
      operationId: Reject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuybackOrderItemRejectResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackOrderItemService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuybackOrderItemRejectRequest'
        required: true
  /refb.merchant.v1.BuybackOrderItemService/UploadShippingLabel:
    post:
      summary: Issues shipping label information for a buyback order item
      description: 'Transitions the order item from the `ordered` state to `label_sent`.


        Known errors:

        - UNAUTHENTICATED

        - when no authorization header is sent

        - when authorization header is malformed or invalid

        - PERMISSION_DENIED

        - when the authorized user does not have permissions for this operation

        - NOT_FOUND

        - when the buyback order item is not found or not in `ordered` state

        - FAILED_PRECONDITION

        - when the buyback order item is not in a state that permits this action

        - INVALID_ARGUMENT

        - when invalid arguments are provided'
      operationId: UploadShippingLabel
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuybackOrderItemUploadShippingLabelResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - BuybackOrderItemService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuybackOrderItemUploadShippingLabelRequest'
        required: true
components:
  schemas:
    BuybackOrderItemState:
      type: string
      enum:
      - UNSPECIFIED
      - ORDERED
      - LABEL_SENT
      - CANCELLED
      - RECEIVED
      - ACCEPTED
      - SECOND_OFFER
      - REJECTED
      - RETURNED
      default: UNSPECIFIED
      description: "- ORDERED: New order. Next state: LABEL_SENT\n - LABEL_SENT: Order item is ready to be shipped. Next state: CANCELLED, RECEIVED.\n - CANCELLED: Order item was never received. Final state.\n - RECEIVED: Order item was received by the merchant. Next state: ACCEPTED, SECOND_OFFER, REJECTED\n - ACCEPTED: Order item was accepted for fulfillment. Final Status\n - SECOND_OFFER: Order item was in worse conditions than expected, a second offer has been issued to the customer.\nNext state: ACCEPTED, REJECTED\n - REJECTED: Order item was refused. Next state: RETURNED\n - RETURNED: Order item was shipped back to customer. Final Status"
      title: Represents the state of an order item
    BuybackOrderItemConfirmReceivedResponse:
      type: object
      properties:
        order_item:
          $ref: '#/components/schemas/v1.BuybackOrderItem'
    BuybackAttribute:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: Attribute ID
        name:
          type: string
          description: Human-readable name.
        type:
          $ref: '#/components/schemas/BuybackAttributeType'
          description: Type for the attribute.
        value_str:
          $ref: '#/components/schemas/StringValue'
          description: Value is set if type is ENUM.
        value_num:
          $ref: '#/components/schemas/NumericValue'
          description: Value is set if type is NUMERIC.
    BuybackOrderItemMakeSecondOfferResponse:
      type: object
      properties:
        order_item:
          $ref: '#/components/schemas/v1.BuybackOrderItem'
    BuybackMarketBidSummary:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: Primary key
        product_id:
          type: string
          format: int64
          title: The product id
        product_name:
          type: string
          title: The user-friendly product_name
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/BuybackAttribute'
          title: List of attributes assigned to the product
        market_code:
          $ref: '#/components/schemas/CountryCode'
          title: Two-letter code indicating the market
        grading:
          $ref: '#/components/schemas/BuybackBidGrading'
          title: Grading for the desired product
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: The price
        bid_id:
          type: string
          format: int64
          title: Bid ID
        bid_sku:
          type:
          - string
          - 'null'
          title: Bid SKU
    CurrencyCode:
      type: string
      enum:
      - UNSPECIFIED
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XUA
      - YER
      - ZAR
      - ZMW
      - ZWL
      default: UNSPECIFIED
      description: "Currency codes as specified in ISO 4217.\n\n - AED: XTS = 963; // Code reserved for testing purposes."
    v1.BuybackOrderItem:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: Primary key.
        order_id:
          type: string
          format: int64
          description: Primary key of the order this item belongs to.
        state:
          $ref: '#/components/schemas/BuybackOrderItemState'
          description: Status of this item.
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
          title: Currency for the price
        price:
          type: string
          title: The amount the buyer has to pay if the item is accepted
        bid:
          $ref: '#/components/schemas/BuybackMarketBidSummary'
          title: The related market bid
        shipping_tracking_url:
          type:
          - string
          - 'null'
          description: Shipping tracking link, a valid HTTP(S) URL.
        shipping_tracking_number:
          type:
          - string
          - 'null'
        return_tracking_url:
          type:
          - string
          - 'null'
          description: Return tracking link, a valid HTTP(S) URL.
        return_tracking_number:
          type:
          - string
          - 'null'
      description: A buyback order item.
    BuybackOrderItemNotifyReturnedRequest:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: The id of the buyback order item to update.
          required:
          - id
        tracking_number:
          type: string
          title: Parcel tracking number
        tracking_url:
          type: string
          description: Needs to be a valid HTTP(S) URL.
          title: Parcel tracking link
      required:
      - id
    BuybackOrderItemUploadShippingLabelRequest:
      type: object
      properties:
        id:
          type: string
          format: int64
          title: The id of the buyback order item to update
          required:
          - id
        parcel_tracking_number:
          type: string
          title: Parcel tracking number
        parcel_tracking_url:
          type: string
          description: Needs to be a valid HTTP(S) URL.
          title: Parcel tracking link
        shipping_label_data:
          type: string
          format: byte
          description: Needs to be a valid PDF.
          title: Shipping label file as raw bytes
      required:
      - id
    Any:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    BuybackOrderItemConfirmReceivedRequest:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: The id of the buyback order item to update.
    BuybackOrderItemRejectRequest:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: The id of the buyback order item to update.
          required:
          - id
      required:
      - id
    BuybackOrderItemMakeSecondOfferRequest:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: The id of the buyback order item to update.
          required:
          - id
        buyback_market_bid_id:
          type: string
          format: int64
          description: The valid market bid id to use can be found using `BuybackBidService.GetSecondOfferBuybackMarketBid` endpoint.
          title: Id of the buyback market bid id to use for the offer
      required:
      - id
    BuybackOrderItemRejectResponse:
      type: object
      properties:
        order_item:
          $ref: '#/components/schemas/v1.BuybackOrderItem'
    BuybackBidGrading:
      type: string
      enum:
      - UNSPECIFIED
      - A
      - B
      - C
      - D
      - E
      default: UNSPECIFIED
    BuybackAttributeType:
      type: string
      enum:
      - UNSPECIFIED
      - ENUM
      - NUMERIC
      default: UNSPECIFIED
      title: "- ENUM: An enumerated attribute has a string value, e.g. Colour = black.\n - NUMERIC: A numeric attribute has a numeric value with an optional unit, e.g.\nMemory = 2 GB"
    NumericValue:
      type: object
      properties:
        value:
          type: number
          format: double
        unit:
          type:
          - string
          - 'null'
    BuybackOrderItemAcceptResponse:
      type: object
      properties:
        order_item:
          $ref: '#/components/schemas/v1.BuybackOrderItem'
    CountryCode:
      type: string
      enum:
      - UNSPECIFIED
      - AF
      - AL
      - AQ
      - DZ
      - AS
      - AD
      - AO
      - AG
      - AZ
      - AR
      - AU
      - AT
      - BS
      - BH
      - BD
      - AM
      - BB
      - BE
      - BM
      - BT
      - BO
      - BA
      - BW
      - BV
      - BR
      - BZ
      - IO
      - SB
      - VG
      - BN
      - BG
      - MM
      - BI
      - BY
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - LK
      - TD
      - CL
      - CN
      - TW
      - CX
      - CC
      - CO
      - KM
      - YT
      - CG
      - CD
      - CK
      - CR
      - HR
      - CU
      - CY
      - CZ
      - BJ
      - DK
      - DM
      - DO
      - EC
      - SV
      - GQ
      - ET
      - ER
      - EE
      - FO
      - FK
      - GS
      - FJ
      - FI
      - AX
      - FR
      - GF
      - PF
      - TF
      - DJ
      - GA
      - GE
      - GM
      - PS
      - DE
      - GH
      - GI
      - KI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GN
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IL
      - IT
      - CI
      - JM
      - JP
      - KZ
      - JO
      - KE
      - KP
      - KR
      - KW
      - KG
      - LA
      - LB
      - LS
      - LV
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MQ
      - MR
      - MU
      - MX
      - MC
      - MN
      - MD
      - ME
      - MS
      - MA
      - MZ
      - OM
      - NA
      - NR
      - NP
      - NL
      - CW
      - AW
      - SX
      - BQ
      - NC
      - VU
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - 'NO'
      - MP
      - UM
      - FM
      - MH
      - PW
      - PK
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - GW
      - TL
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - AI
      - LC
      - MF
      - PM
      - VC
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SK
      - VN
      - SI
      - SO
      - ZA
      - ZW
      - ES
      - SS
      - SD
      - EH
      - SR
      - SJ
      - SZ
      - SE
      - CH
      - SY
      - TJ
      - TH
      - TG
      - TK
      - TO
      - TT
      - AE
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - MK
      - EG
      - GB
      - GG
      - JE
      - IM
      - TZ
      - US
      - VI
      - BF
      - UY
      - UZ
      - VE
      - WF
      - WS
      - YE
      - ZM
      default: UNSPECIFIED
      description: Alpha-2 country codes as specified in ISO 3166-1.
    StringValue:
      type: object
      properties:
        value:
          type: string
    BuybackOrderItemNotifyReturnedResponse:
      type: object
      properties:
        order_item:
          $ref: '#/components/schemas/v1.BuybackOrderItem'
    BuybackOrderItemAcceptRequest:
      type: object
      properties:
        id:
          type: string
          format: int64
          description: The id of the buyback order item to update.
          required:
          - id
      required:
      - id
    BuybackOrderItemUploadShippingLabelResponse:
      type: object
      properties:
        order_item:
          $ref: '#/components/schemas/v1.BuybackOrderItem'
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: 'A developer-facing error message, which should be in English. Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
          description: 'A list of messages that carry the error details.  There is a common set of

            message types for APIs to use.'
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      name: Authorization
      in: header
