swagger: '2.0'
info:
  title: Affiliate Partner BuybackBidService OrderItemReturnService API
  version: '1.0'
  description: The refurbed affiliate partner API allows to retrieve info about markets, products and instances including the buybox info (current price, grading, warranty).
  contact:
    name: Refurbed Affiliate Partner Integrations Team
    email: integrations@refurbed.com
host: api.refurbed.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- APIKeyAuth: []
tags:
- name: OrderItemReturnService
paths:
  /refb.merchant.v1.OrderItemReturnService/ListOrderItemReturns:
    post:
      summary: Lists returns with filtering, sorting, and pagination support.
      description: "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- FAILED_PRECONDITION\n  - when the merchant does not exist for the authorized user\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination"
      operationId: ListOrderItemReturns
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/ListOrderItemReturnsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ListOrderItemReturnsRequest'
      tags:
      - OrderItemReturnService
definitions:
  OrderItemIdentifier:
    type: object
    properties:
      identifier_type:
        $ref: '#/definitions/OrderItemIdentifierType'
      value:
        type: string
  Status:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
      details:
        type: array
        items:
          $ref: '#/definitions/Any'
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
  StringFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          type: string
      none_of:
        type: array
        items:
          type: string
  OrderItemReturnStateFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          $ref: '#/definitions/OrderItemReturnState'
      none_of:
        type: array
        items:
          $ref: '#/definitions/OrderItemReturnState'
  Int64Filter:
    type: object
    properties:
      any_of:
        type: array
        items:
          type: string
          format: int64
      none_of:
        type: array
        items:
          type: string
          format: int64
  ListOrderItemReturnsResponse:
    type: object
    properties:
      returns:
        type: array
        items:
          $ref: '#/definitions/OrderItemReturn'
        description: The returns found.
      has_more:
        type: boolean
        description: Indicates whether there are more results available.
  Int64Pagination:
    type: object
    properties:
      limit:
        type: integer
        format: int64
        x-nullable: true
        description: 'Limit on the number of results to be returned. Between 1 and 100.

          Default and maximum is 100.'
      ending_before:
        type: string
        format: int64
      starting_after:
        type: string
        format: int64
    description: Paginates resources with int64 primary key.
  ListOrderItemReturnsRequest.Filter:
    type: object
    properties:
      order_id:
        $ref: '#/definitions/Int64Filter'
      order_item_identifier:
        $ref: '#/definitions/StringFilter'
      return_initiated_at:
        $ref: '#/definitions/TimestampRangeFilter'
      state:
        $ref: '#/definitions/OrderItemReturnStateFilter'
      delivered_at:
        $ref: '#/definitions/TimestampRangeFilter'
      tracking_number:
        $ref: '#/definitions/StringFilter'
  OrderItemReturn:
    type: object
    properties:
      id:
        type: string
        format: int64
        title: ID of the return
      order_id:
        type: string
        format: int64
        title: Order ID of the item being returned
      order_item_id:
        type: string
        format: int64
        title: ID of the item being returned
      instance_name:
        type: string
        title: Instance name of the item in English
      order_item_identifier:
        type: string
        x-nullable: true
        description: 'Deprecated: use item_identifiers field instead.'
      item_identifiers:
        type: array
        items:
          $ref: '#/definitions/OrderItemIdentifier'
        description: Item identifier (IMEI/serial number), as specified by merchant in order item details.
      return_initiated_at:
        type: string
        format: date-time
        title: When the return process was initiated
      state:
        $ref: '#/definitions/OrderItemReturnState'
        title: The current state of the return
      delivered_at:
        type: string
        format: date-time
        x-nullable: true
        description: Empty if the parcel has not been delivered yet.
        title: Delivered at (when the return parcel was delivered to the merchant)
      tracking_number:
        type: string
        title: The tracking number of the return parcel
      tracking_url:
        type: string
        title: The tracking URL of the return parcel
      ticket_topic:
        type: string
        x-nullable: true
        description: Not always present, and it might change over time.
        title: Ticket topic slug
      ticket_url:
        type: string
        title: Link to the associated ticket
      item_within_trial_period:
        type: boolean
        title: Is the item within trial period (order age <= 35 days ago)
    description: OrderItemReturn represents return shipment of an order item.
  OrderItemIdentifierType:
    type: string
    enum:
    - UNSPECIFIED
    - IMEI
    - SERIAL_NUMBER
    default: UNSPECIFIED
  TimestampRangeFilter:
    type: object
    properties:
      gt:
        type: string
        format: date-time
        x-nullable: true
      ge:
        type: string
        format: date-time
        x-nullable: true
      any_of:
        type: array
        items:
          type: string
          format: date-time
      none_of:
        type: array
        items:
          type: string
          format: date-time
      le:
        type: string
        format: date-time
        x-nullable: true
      lt:
        type: string
        format: date-time
        x-nullable: true
  OrderItemReturnState:
    type: string
    enum:
    - UNSPECIFIED
    - UNKNOWN
    - INITIATED
    - IN_TRANSIT
    - DELIVERED
    - REFUNDED
    - CONCLUDED
    default: UNSPECIFIED
    title: "- UNKNOWN: Default case for unmatched scenarios\n - INITIATED: The return is initiated but hasn't been shipped yet\n - IN_TRANSIT: The return parcel is on the way, and not yet delivered\n - DELIVERED: The return parcel is delivered\n - REFUNDED: Order item was refunded (partially/fully)\n - CONCLUDED: The return parcel is marked as delivered and the associated ticket is closed"
  ListOrderItemReturnsRequest:
    type: object
    properties:
      pagination:
        $ref: '#/definitions/Int64Pagination'
      sort:
        $ref: '#/definitions/ListOrderItemReturnsRequest.Sort'
      filter:
        $ref: '#/definitions/ListOrderItemReturnsRequest.Filter'
  ListOrderItemReturnsRequest.Sort:
    type: object
    properties:
      order:
        $ref: '#/definitions/SortOrder'
      by:
        $ref: '#/definitions/ListOrderItemReturnsRequest.Sort.By'
  ListOrderItemReturnsRequest.Sort.By:
    type: string
    enum:
    - ID
    - ORDER_ID
    - RETURN_INITIATED_AT
    - DELIVERED_AT
    - TRACKING_NUMBER
    default: ID
  Any:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  SortOrder:
    type: string
    enum:
    - ASC
    - DESC
    default: ASC
securityDefinitions:
  APIKeyAuth:
    type: apiKey
    name: Authorization
    in: header
