swagger: '2.0'
info:
  title: Affiliate Partner BuybackBidService BuybackSupplyboxService API
  version: '1.0'
  description: The refurbed affiliate partner API allows to retrieve info about markets, products and instances including the buybox info (current price, grading, warranty).
  contact:
    name: Refurbed Affiliate Partner Integrations Team
    email: integrations@refurbed.com
host: api.refurbed.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- APIKeyAuth: []
tags:
- name: BuybackSupplyboxService
paths:
  /refb.merchant.v1.BuybackSupplyboxService/ListBuybackSupplyboxes:
    post:
      summary: Lists all supplyboxes.
      description: "Returns the current bid versions only.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination"
      operationId: ListBuybackSupplyboxes
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/ListBuybackSupplyboxesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Status'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ListBuybackSupplyboxesRequest'
      tags:
      - BuybackSupplyboxService
definitions:
  BuybackSupplyboxIdentifier:
    type: object
    properties:
      bid_id:
        type: string
        format: int64
        description: Primary key of the bid.
        required:
        - bid_id
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market
    required:
    - bid_id
  BuybackSupplyboxState:
    type: string
    enum:
    - UNSPECIFIED
    - WON
    - ELIGIBLE
    - INELIGIBLE
    default: UNSPECIFIED
    description: "- WON: Currently winning the supplybox.\n - ELIGIBLE: Currently not winning the supplybox, but could with a better price.\n - INELIGIBLE: Cannot win the supplybox, e.g. because refurbed's\nSupplybox protection for this product is enabled and the offer's stock\nis too low."
    title: Represents the supplybox status of a bid
  BuybackAttribute:
    type: object
    properties:
      id:
        type: string
        format: int64
        title: Attribute ID
      name:
        type: string
        description: Human-readable name.
      type:
        $ref: '#/definitions/BuybackAttributeType'
        description: Type for the attribute.
      value_str:
        $ref: '#/definitions/StringValue'
        description: Value is set if type is ENUM.
      value_num:
        $ref: '#/definitions/NumericValue'
        description: Value is set if type is NUMERIC.
  BuybackBidGrading:
    type: string
    enum:
    - UNSPECIFIED
    - A
    - B
    - C
    - D
    - E
    default: UNSPECIFIED
  NumericRangeFilter:
    type: object
    properties:
      gt:
        type: string
        x-nullable: true
      ge:
        type: string
        x-nullable: true
      any_of:
        type: array
        items:
          type: string
      none_of:
        type: array
        items:
          type: string
      le:
        type: string
        x-nullable: true
      lt:
        type: string
        x-nullable: true
    description: 'Numeric range filter is used for decimal numbers. It is especially

      used for monetary amounts and other quantities where exactness is required.'
  StringSetContainsFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          type: string
      none_of:
        type: array
        items:
          type: string
      contains:
        type: string
        x-nullable: true
  Enum:
    type: object
    properties:
      id:
        type: string
        format: int64
      any_of:
        type: array
        items:
          type: string
      none_of:
        type: array
        items:
          type: string
  ListBuybackSupplyboxesRequest.Filter:
    type: object
    properties:
      bid_id:
        $ref: '#/definitions/Int64Filter'
      bid_created_at:
        $ref: '#/definitions/TimestampRangeFilter'
      won_at:
        $ref: '#/definitions/TimestampRangeFilter'
      product_id:
        $ref: '#/definitions/Int64Filter'
      grading:
        $ref: '#/definitions/BuybackBidGradingFilter'
      stock:
        $ref: '#/definitions/OptionalUInt32RangeFilter'
      market_code:
        $ref: '#/definitions/CountryCodeFilter'
      state:
        $ref: '#/definitions/BuybackSupplyboxStateFilter'
      merchant_price:
        $ref: '#/definitions/NumericRangeFilter'
      winning_price:
        $ref: '#/definitions/NumericRangeFilter'
      suggested_price:
        $ref: '#/definitions/OptionalNumericRangeFilter'
      price_difference:
        $ref: '#/definitions/OptionalNumericRangeFilter'
      product_name:
        $ref: '#/definitions/TextSearchFilter'
      product_attribute:
        $ref: '#/definitions/BuybackAttributeFilter'
      sku:
        $ref: '#/definitions/StringSetContainsFilter'
  BuybackBidGradingFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          $ref: '#/definitions/BuybackBidGrading'
      none_of:
        type: array
        items:
          $ref: '#/definitions/BuybackBidGrading'
  ListBuybackSupplyboxesRequest.Sort:
    type: object
    properties:
      order:
        $ref: '#/definitions/SortOrder'
      by:
        $ref: '#/definitions/ListBuybackSupplyboxesRequest.Sort.By'
  Numeric:
    type: object
    properties:
      id:
        type: string
        format: int64
      any_of:
        type: array
        items:
          type: number
          format: double
      none_of:
        type: array
        items:
          type: number
          format: double
  OptionalNumericRangeFilter:
    type: object
    properties:
      is_set:
        type: boolean
        x-nullable: true
      gt:
        type: string
        x-nullable: true
      ge:
        type: string
        x-nullable: true
      any_of:
        type: array
        items:
          type: string
      none_of:
        type: array
        items:
          type: string
      le:
        type: string
        x-nullable: true
      lt:
        type: string
        x-nullable: true
    description: 'Numeric range filter is used for decimal numbers. It is especially

      used for monetary amounts and other quantities where exactness is required.'
  CountryCodeFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          $ref: '#/definitions/CountryCode'
      none_of:
        type: array
        items:
          $ref: '#/definitions/CountryCode'
  BuybackSupplyboxStateFilter:
    type: object
    properties:
      any_of:
        type: array
        items:
          $ref: '#/definitions/BuybackSupplyboxState'
      none_of:
        type: array
        items:
          $ref: '#/definitions/BuybackSupplyboxState'
  Any:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  Attribute:
    type: object
    properties:
      value_str:
        $ref: '#/definitions/Enum'
      value_num:
        $ref: '#/definitions/Numeric'
  SortOrder:
    type: string
    enum:
    - ASC
    - DESC
    default: ASC
  CountryCode:
    type: string
    enum:
    - UNSPECIFIED
    - AF
    - AL
    - AQ
    - DZ
    - AS
    - AD
    - AO
    - AG
    - AZ
    - AR
    - AU
    - AT
    - BS
    - BH
    - BD
    - AM
    - BB
    - BE
    - BM
    - BT
    - BO
    - BA
    - BW
    - BV
    - BR
    - BZ
    - IO
    - SB
    - VG
    - BN
    - BG
    - MM
    - BI
    - BY
    - KH
    - CM
    - CA
    - CV
    - KY
    - CF
    - LK
    - TD
    - CL
    - CN
    - TW
    - CX
    - CC
    - CO
    - KM
    - YT
    - CG
    - CD
    - CK
    - CR
    - HR
    - CU
    - CY
    - CZ
    - BJ
    - DK
    - DM
    - DO
    - EC
    - SV
    - GQ
    - ET
    - ER
    - EE
    - FO
    - FK
    - GS
    - FJ
    - FI
    - AX
    - FR
    - GF
    - PF
    - TF
    - DJ
    - GA
    - GE
    - GM
    - PS
    - DE
    - GH
    - GI
    - KI
    - GR
    - GL
    - GD
    - GP
    - GU
    - GT
    - GN
    - GY
    - HT
    - HM
    - VA
    - HN
    - HK
    - HU
    - IS
    - IN
    - ID
    - IR
    - IQ
    - IE
    - IL
    - IT
    - CI
    - JM
    - JP
    - KZ
    - JO
    - KE
    - KP
    - KR
    - KW
    - KG
    - LA
    - LB
    - LS
    - LV
    - LR
    - LY
    - LI
    - LT
    - LU
    - MO
    - MG
    - MW
    - MY
    - MV
    - ML
    - MT
    - MQ
    - MR
    - MU
    - MX
    - MC
    - MN
    - MD
    - ME
    - MS
    - MA
    - MZ
    - OM
    - NA
    - NR
    - NP
    - NL
    - CW
    - AW
    - SX
    - BQ
    - NC
    - VU
    - NZ
    - NI
    - NE
    - NG
    - NU
    - NF
    - 'NO'
    - MP
    - UM
    - FM
    - MH
    - PW
    - PK
    - PA
    - PG
    - PY
    - PE
    - PH
    - PN
    - PL
    - PT
    - GW
    - TL
    - PR
    - QA
    - RE
    - RO
    - RU
    - RW
    - BL
    - SH
    - KN
    - AI
    - LC
    - MF
    - PM
    - VC
    - SM
    - ST
    - SA
    - SN
    - RS
    - SC
    - SL
    - SG
    - SK
    - VN
    - SI
    - SO
    - ZA
    - ZW
    - ES
    - SS
    - SD
    - EH
    - SR
    - SJ
    - SZ
    - SE
    - CH
    - SY
    - TJ
    - TH
    - TG
    - TK
    - TO
    - TT
    - AE
    - TN
    - TR
    - TM
    - TC
    - TV
    - UG
    - UA
    - MK
    - EG
    - GB
    - GG
    - JE
    - IM
    - TZ
    - US
    - VI
    - BF
    - UY
    - UZ
    - VE
    - WF
    - WS
    - YE
    - ZM
    default: UNSPECIFIED
    description: Alpha-2 country codes as specified in ISO 3166-1.
  BuybackSupplyboxIdentifierPagination:
    type: object
    properties:
      limit:
        type: integer
        format: int64
        x-nullable: true
        description: 'Limit on the number of results to be returned. Between 1 and 100.

          Default and maximum is 100.'
      ending_before:
        $ref: '#/definitions/BuybackSupplyboxIdentifier'
      starting_after:
        $ref: '#/definitions/BuybackSupplyboxIdentifier'
    description: Paginates resources with buyback supplybox identifier key.
  BuybackAttributeFilter:
    type: object
    properties:
      attributes:
        type: array
        items:
          $ref: '#/definitions/Attribute'
  Status:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
      details:
        type: array
        items:
          $ref: '#/definitions/Any'
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
  TimestampRangeFilter:
    type: object
    properties:
      gt:
        type: string
        format: date-time
        x-nullable: true
      ge:
        type: string
        format: date-time
        x-nullable: true
      any_of:
        type: array
        items:
          type: string
          format: date-time
      none_of:
        type: array
        items:
          type: string
          format: date-time
      le:
        type: string
        format: date-time
        x-nullable: true
      lt:
        type: string
        format: date-time
        x-nullable: true
  NumericValue:
    type: object
    properties:
      value:
        type: number
        format: double
      unit:
        type: string
        x-nullable: true
  BuybackAttributeType:
    type: string
    enum:
    - UNSPECIFIED
    - ENUM
    - NUMERIC
    default: UNSPECIFIED
    title: "- ENUM: An enumerated attribute has a string value, e.g. Colour = black.\n - NUMERIC: A numeric attribute has a numeric value with an optional unit, e.g.\nMemory = 2 GB"
  ListBuybackSupplyboxesResponse:
    type: object
    properties:
      supplyboxes:
        type: array
        items:
          $ref: '#/definitions/BuybackSupplybox'
        description: The supplyboxes found.
      has_more:
        type: boolean
        description: Indicates whether there are more results available.
  CurrencyCode:
    type: string
    enum:
    - UNSPECIFIED
    - AED
    - AFN
    - ALL
    - AMD
    - ANG
    - AOA
    - ARS
    - AUD
    - AWG
    - AZN
    - BAM
    - BBD
    - BDT
    - BGN
    - BHD
    - BIF
    - BMD
    - BND
    - BOB
    - BOV
    - BRL
    - BSD
    - BTN
    - BWP
    - BYR
    - BZD
    - CAD
    - CDF
    - CHE
    - CHF
    - CHW
    - CLF
    - CLP
    - CNY
    - COP
    - COU
    - CRC
    - CUC
    - CUP
    - CVE
    - CZK
    - DJF
    - DKK
    - DOP
    - DZD
    - EGP
    - ERN
    - ETB
    - EUR
    - FJD
    - FKP
    - GBP
    - GEL
    - GHS
    - GIP
    - GMD
    - GNF
    - GTQ
    - GYD
    - HKD
    - HNL
    - HRK
    - HTG
    - HUF
    - IDR
    - ILS
    - INR
    - IQD
    - IRR
    - ISK
    - JMD
    - JOD
    - JPY
    - KES
    - KGS
    - KHR
    - KMF
    - KPW
    - KRW
    - KWD
    - KYD
    - KZT
    - LAK
    - LBP
    - LKR
    - LRD
    - LSL
    - LTL
    - LYD
    - MAD
    - MDL
    - MGA
    - MKD
    - MMK
    - MNT
    - MOP
    - MRO
    - MUR
    - MVR
    - MWK
    - MXN
    - MXV
    - MYR
    - MZN
    - NAD
    - NGN
    - NIO
    - NOK
    - NPR
    - NZD
    - OMR
    - PAB
    - PEN
    - PGK
    - PHP
    - PKR
    - PLN
    - PYG
    - QAR
    - RON
    - RSD
    - RUB
    - RWF
    - SAR
    - SBD
    - SCR
    - SDG
    - SEK
    - SGD
    - SHP
    - SLL
    - SOS
    - SRD
    - SSP
    - STD
    - SVC
    - SYP
    - SZL
    - THB
    - TJS
    - TMT
    - TND
    - TOP
    - TRY
    - TTD
    - TWD
    - TZS
    - UAH
    - UGX
    - USD
    - USN
    - UYI
    - UYU
    - UZS
    - VEF
    - VND
    - VUV
    - WST
    - XAF
    - XAG
    - XAU
    - XBA
    - XBB
    - XBC
    - XBD
    - XCD
    - XDR
    - XOF
    - XPD
    - XPF
    - XPT
    - XSU
    - XUA
    - YER
    - ZAR
    - ZMW
    - ZWL
    default: UNSPECIFIED
    description: "Currency codes as specified in ISO 4217.\n\n - AED: XTS = 963; // Code reserved for testing purposes."
  Int64Filter:
    type: object
    properties:
      any_of:
        type: array
        items:
          type: string
          format: int64
      none_of:
        type: array
        items:
          type: string
          format: int64
  OptionalUInt32RangeFilter:
    type: object
    properties:
      is_set:
        type: boolean
        x-nullable: true
      gt:
        type: integer
        format: int64
        x-nullable: true
      ge:
        type: integer
        format: int64
        x-nullable: true
      any_of:
        type: array
        items:
          type: integer
          format: int64
      none_of:
        type: array
        items:
          type: integer
          format: int64
      le:
        type: integer
        format: int64
        x-nullable: true
      lt:
        type: integer
        format: int64
        x-nullable: true
  ListBuybackSupplyboxesRequest.Sort.By:
    type: string
    enum:
    - BID_ID
    - BID_CREATED_AT
    - WON_AT
    - PRODUCT_NAME
    - GRADING
    - STOCK
    - MARKET_CODE
    - STATE
    - MERCHANT_PRICE
    - WINNING_PRICE
    - PRICE_DIFFERENCE
    - SUGGESTED_PRICE
    - BID_SKU
    default: BID_ID
  TextSearchFilter:
    type: object
    properties:
      term:
        type: string
        title: Full-text match
  BuybackSupplybox:
    type: object
    properties:
      bid_id:
        type: string
        format: int64
        description: Primary key of the bid.
      bid_created_at:
        type: string
        format: date-time
        description: When the bid was created.
      product_id:
        type: string
        format: int64
        title: The product id
      product_name:
        type: string
        title: The user-friendly product_name
      attributes:
        type: array
        items:
          $ref: '#/definitions/BuybackAttribute'
        title: List of attributes assigned to the product
      stock:
        type: integer
        format: int64
        x-nullable: true
        title: Stock the merchant is willing to buy
      market_code:
        $ref: '#/definitions/CountryCode'
        title: Two-letter code indicating the market
      grading:
        $ref: '#/definitions/BuybackBidGrading'
        title: Grading for the desired product
      currency_code:
        $ref: '#/definitions/CurrencyCode'
        title: Currency for the price
      winning_price:
        type: string
        title: The price that is currently winning the supplybox
      merchant_price:
        type: string
        title: 'The price the merchant is willing to pay for this product and grading

          If the merchant is winning the supplybox this will be equal to winning_price'
      suggested_price:
        type: string
        x-nullable: true
        description: 'The price the merchant needs to bid in order to win the supplybox

          This field is empty if the merchant has won the supplybox or if the bid is ineligible.'
      price_diff:
        type: string
        x-nullable: true
        description: 'Absolute difference between the current and suggested price

          This field is empty if the merchant has won the supplybox or if the bid is ineligible.'
      won_at:
        type: string
        format: date-time
        x-nullable: true
        description: 'When the supplybox was won.

          This field is empty if the merchant hasn''t won the supplybox.'
      state:
        $ref: '#/definitions/BuybackSupplyboxState'
        title: State of the supplybox
      market_bid_id:
        type: string
        format: int64
        description: ID of the market bid.
      bid_sku:
        type: string
        x-nullable: true
        description: SKU of the bid.
  StringValue:
    type: object
    properties:
      value:
        type: string
  ListBuybackSupplyboxesRequest:
    type: object
    properties:
      pagination:
        $ref: '#/definitions/BuybackSupplyboxIdentifierPagination'
      sort:
        $ref: '#/definitions/ListBuybackSupplyboxesRequest.Sort'
      filter:
        $ref: '#/definitions/ListBuybackSupplyboxesRequest.Filter'
securityDefinitions:
  APIKeyAuth:
    type: apiKey
    name: Authorization
    in: header
