{
  "swagger": "2.0",
  "info": {
    "title": "Merchant API",
    "description": "The refurbed merchant API allows to access and manage markets, currencies, instances, shipping profiles, offers, market offers, orders and order items.",
    "version": "1.0",
    "contact": {
      "name": "Refurbed Merchant Integrations Team",
      "email": "integrations@refurbed.com"
    }
  },
  "tags": [
    {
      "name": "BuybackBidService"
    },
    {
      "name": "BuybackOrderItemService"
    },
    {
      "name": "BuybackOrderService"
    },
    {
      "name": "BuybackProductService"
    },
    {
      "name": "BuybackSupplyboxService"
    },
    {
      "name": "CatalogService"
    },
    {
      "name": "CurrencyService"
    },
    {
      "name": "InstanceService"
    },
    {
      "name": "MarketOfferService"
    },
    {
      "name": "MarketService"
    },
    {
      "name": "MerchantService"
    },
    {
      "name": "OfferService"
    },
    {
      "name": "OrderItemReturnService"
    },
    {
      "name": "OrderItemService"
    },
    {
      "name": "OrderService"
    },
    {
      "name": "ShippingProfileService"
    },
    {
      "name": "TicketService"
    }
  ],
  "host": "api.refurbed.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/refb.merchant.v1.BuybackBidService/CreateBuybackBid": {
      "post": {
        "summary": "Creates a single bid.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - product does not exist\n  - set of attributes is incompatible for a product\n  - invalid input data is provided\n- ALREADY_EXISTS\n  - there's already an active bid for the given product, attributes and grade combination",
        "operationId": "CreateBuybackBid",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateBuybackBidResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBuybackBidRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackBidService/CreateBuybackMarketBid": {
      "post": {
        "summary": "Adds a new price for a marketplace inside an existing bid",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - bid does not exist\n  - invalid input data is provided\n- ALREADY_EXISTS\n  - there's already an active bid for the given market",
        "operationId": "CreateBuybackMarketBid",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateBuybackMarketBidResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBuybackMarketBidRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackBidService/DeleteBuybackBid": {
      "post": {
        "summary": "Deletes a single bid.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when bid is not found\n- INVALID_ARGUMENT\n  - invalid input data is provided",
        "operationId": "DeleteBuybackBid",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBuybackBidRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackBidService/DeleteBuybackMarketBid": {
      "post": {
        "summary": "Deletes a price for a marketplace inside an existing bid.",
        "description": "This is only allowed if the deletion doesn't result in a bid without any market prices.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - market bid does not exist\n- FAILED_PRECONDITION\n  - bid has only 1 market price remaining (i.e. bid requires manual deletion)",
        "operationId": "DeleteBuybackMarketBid",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBuybackMarketBidRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackBidService/GetSecondOfferBuybackMarketBid": {
      "post": {
        "summary": "Gets a market bid available for making a second offer.",
        "description": "To make a second offer, the merchant has to find a different market bid and update the order item accordingly.\nIn order to get a market bid for the second offer, the merchant has to provide the order item ID that they intend to change,\nas well as all the details about the actual device they have received. Only the price valid at the time of order\ncreation will be returned, to ensure fair competition and prevent merchants from lowering the price before\nmaking the second offer.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - invalid input data is provided\n- NOT_FOUND\n  - order item does not exist or it's not in \"received\" state\n  - an appropriate market bid cannot be found that was active at the time of order",
        "operationId": "GetSecondOfferBuybackMarketBid",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSecondOfferBuybackMarketBidResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSecondOfferBuybackMarketBidRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackBidService/ListBuybackBids": {
      "post": {
        "summary": "Lists all bids.",
        "description": "Returns the current bid versions only.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination",
        "operationId": "ListBuybackBids",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListBuybackBidsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBuybackBidsRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackBidService/UpdateBuybackBid": {
      "post": {
        "summary": "Updates a single bid by setting its stock",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when bid is not found\n- INVALID_ARGUMENT\n  - invalid input data is provided",
        "operationId": "UpdateBuybackBid",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateBuybackBidResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBuybackBidRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackBidService/UpdateBuybackMarketBid": {
      "post": {
        "summary": "Sets the price for a marketplace for an existing bid.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - market bid does not exist\n- INVALID_ARGUMENT\n  - invalid input data is provided",
        "operationId": "UpdateBuybackMarketBid",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateBuybackMarketBidResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBuybackMarketBidRequest"
            }
          }
        ],
        "tags": [
          "BuybackBidService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackOrderItemService/Accept": {
      "post": {
        "summary": "Marks order item as accepted to indicate that the received item matches the seller's description",
        "description": "Transitions the order item from the `received` state to `accepted`.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the buyback order item is not found or not in `received` state\n- FAILED_PRECONDITION\n  - when the buyback order item is not in a state that permits this action\n- INVALID_ARGUMENT\n  - when invalid arguments are provided",
        "operationId": "Accept",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemAcceptResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemAcceptRequest"
            }
          }
        ],
        "tags": [
          "BuybackOrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackOrderItemService/ConfirmReceived": {
      "post": {
        "summary": "Notifies that the merchant has received the item shipped by the seller",
        "description": "Transitions the order item from the `label_sent` state to `received`.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the buyback order item is not found or not in `label_sent` state\n- FAILED_PRECONDITION\n  - when the buyback order item is not in a state that permits this action\n- INVALID_ARGUMENT\n  - when invalid arguments are provided",
        "operationId": "ConfirmReceived",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemConfirmReceivedResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemConfirmReceivedRequest"
            }
          }
        ],
        "tags": [
          "BuybackOrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackOrderItemService/MakeSecondOffer": {
      "post": {
        "summary": "Makes a second offer for the order item",
        "description": "It is to indicate that the order item is different from the seller's description,\nand the merchant is still considering buying it, albeit at a different price point.\n\nTransitions the order item from the `received` state to `second_offer`.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the buyback order item is not found or not in `received` state\n- FAILED_PRECONDITION\n  - when the buyback order item is not in a state that permits this action\n  - when the market bid isn't a valid second offer for the order item\n- INVALID_ARGUMENT\n  - when invalid arguments are provided",
        "operationId": "MakeSecondOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemMakeSecondOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemMakeSecondOfferRequest"
            }
          }
        ],
        "tags": [
          "BuybackOrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackOrderItemService/NotifyReturned": {
      "post": {
        "summary": "Notifies that the merchant has shipped the rejected item.",
        "description": "Transitions the order item from the `rejected` state to `returned`.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the buyback order item is not found or not in `rejected` state\n- FAILED_PRECONDITION\n  - when the buyback order item is not in a state that permits this action\n- INVALID_ARGUMENT\n  - when invalid arguments are provided",
        "operationId": "NotifyReturned",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemNotifyReturnedResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemNotifyReturnedRequest"
            }
          }
        ],
        "tags": [
          "BuybackOrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackOrderItemService/Reject": {
      "post": {
        "summary": "Marks order item as rejected to indicate that the received item is different from the seller's description.",
        "description": "Transitions the order item from the `received` state to `rejected`.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the buyback order item is not found or not in `received` state\n- FAILED_PRECONDITION\n  - when the buyback order item is not in a state that permits this action\n- INVALID_ARGUMENT\n  - when invalid arguments are provided",
        "operationId": "Reject",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemRejectResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemRejectRequest"
            }
          }
        ],
        "tags": [
          "BuybackOrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackOrderItemService/UploadShippingLabel": {
      "post": {
        "summary": "Issues shipping label information for a buyback order item",
        "description": "Transitions the order item from the `ordered` state to `label_sent`.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the buyback order item is not found or not in `ordered` state\n- FAILED_PRECONDITION\n  - when the buyback order item is not in a state that permits this action\n- INVALID_ARGUMENT\n  - when invalid arguments are provided",
        "operationId": "UploadShippingLabel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemUploadShippingLabelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuybackOrderItemUploadShippingLabelRequest"
            }
          }
        ],
        "tags": [
          "BuybackOrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackOrderService/ListBuybackOrders": {
      "post": {
        "summary": "Lists all buyback orders.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination",
        "operationId": "ListBuybackOrders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListBuybackOrdersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBuybackOrdersRequest"
            }
          }
        ],
        "tags": [
          "BuybackOrderService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackProductService/ListBuybackProducts": {
      "post": {
        "summary": "Lists products.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation",
        "operationId": "ListBuybackProducts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListBuybackProductsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBuybackProductsRequest"
            }
          }
        ],
        "tags": [
          "BuybackProductService"
        ]
      }
    },
    "/refb.merchant.v1.BuybackSupplyboxService/ListBuybackSupplyboxes": {
      "post": {
        "summary": "Lists all supplyboxes.",
        "description": "Returns the current bid versions only.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination",
        "operationId": "ListBuybackSupplyboxes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListBuybackSupplyboxesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListBuybackSupplyboxesRequest"
            }
          }
        ],
        "tags": [
          "BuybackSupplyboxService"
        ]
      }
    },
    "/refb.merchant.v1.CatalogService/GetCatalogTemplates": {
      "post": {
        "summary": "Retrieves a list of attribute templates for the specified category type and\noptionally a specific category.",
        "operationId": "GetCatalogTemplates",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetCatalogTemplatesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCatalogTemplatesRequest"
            }
          }
        ],
        "tags": [
          "CatalogService"
        ]
      }
    },
    "/refb.merchant.v1.CurrencyService/GetCurrency": {
      "post": {
        "summary": "Gets a single supported currency.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when the currency code is invalid\n- NOT_FOUND\n  - when the currency is not found in our system\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetCurrency",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetCurrencyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCurrencyRequest"
            }
          }
        ],
        "tags": [
          "CurrencyService"
        ]
      }
    },
    "/refb.merchant.v1.CurrencyService/ListCurrencies": {
      "post": {
        "summary": "Lists all supported currencies.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListCurrencies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListCurrenciesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCurrenciesRequest"
            }
          }
        ],
        "tags": [
          "CurrencyService"
        ]
      }
    },
    "/refb.merchant.v1.InstanceService/BatchGetInstances": {
      "post": {
        "summary": "Batch gets single instances.",
        "description": "Known errors:\n - identical to the GetInstance operation",
        "operationId": "BatchGetInstances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchGetInstancesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetInstancesRequest"
            }
          }
        ],
        "tags": [
          "InstanceService"
        ]
      }
    },
    "/refb.merchant.v1.InstanceService/GetInstance": {
      "post": {
        "summary": "Gets a single instance.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the instance is not found\n- INVALID_ARGUMENT\n  - when invalid GTIN is provided\n- FAILED_PRECONDITION\n  - when multiple instances are found for the provided MPN\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetInstanceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetInstanceRequest"
            }
          }
        ],
        "tags": [
          "InstanceService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/BatchCreateMarketOffer": {
      "post": {
        "summary": "Batch creates market offers / offer market prices of offers.",
        "description": "Known errors:\n - identical to the CreateMarketOffer operation",
        "operationId": "BatchCreateMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchCreateMarketOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchCreateMarketOffersRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/BatchDeleteMarketOffer": {
      "post": {
        "summary": "Batch deletes market offers / offer market prices of offers.",
        "description": "Known errors:\n - identical to the DeleteMarketOffer operation",
        "operationId": "BatchDeleteMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchDeleteMarketOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDeleteMarketOffersRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/BatchGetMarketOffer": {
      "post": {
        "summary": "Batch gets market offers / offer market prices of offers.",
        "description": "Known errors:\n - identical to the GetMarketOffer operation",
        "operationId": "BatchGetMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchGetMarketOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetMarketOffersRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/BatchUpdateMarketOffer": {
      "post": {
        "summary": "Batch updates market offers / offer market prices of offers.",
        "description": "Known errors:\n - identical to the UpdateMarketOffer operation",
        "operationId": "BatchUpdateMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchUpdateMarketOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUpdateMarketOffersRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/CreateMarketOffer": {
      "post": {
        "summary": "Creates a single market offer / an offer market price of an offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- ALREADY_EXISTS\n  - when market offer already exists, i.e. market price is defined for\n    given offer and market combination\n- INVALID_ARGUMENT\n  - when the unknown offer is provided\n  - invalid market code is provided\n  - invalid input market offer data is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "CreateMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateMarketOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMarketOfferRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/DeleteMarketOffer": {
      "post": {
        "summary": "Deletes a single market offer / an offer market price of an offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when market offer does not exists\n- INVALID_ARGUMENT\n  - invalid market offer identifier is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "DeleteMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteMarketOfferRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/GetMarketOffer": {
      "post": {
        "summary": "Gets a single market offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the offer is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMarketOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMarketOfferRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/ListMarketOffers": {
      "post": {
        "summary": "Lists all market offers.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListMarketOffers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListMarketOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMarketOffersRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/ListMarketOffersByOffer": {
      "post": {
        "summary": "Lists all market offers of a specific offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when offer identifier is not valid\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListMarketOffersByOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListMarketOffersByOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMarketOffersByOfferRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketOfferService/UpdateMarketOffer": {
      "post": {
        "summary": "Updates a single market offer / an offer market price of an offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when market offer does not exists\n- INVALID_ARGUMENT\n  - when the unknown offer is provided\n  - invalid input market offer data is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "UpdateMarketOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateMarketOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMarketOfferRequest"
            }
          }
        ],
        "tags": [
          "MarketOfferService"
        ]
      }
    },
    "/refb.merchant.v1.MarketService/GetMarket": {
      "post": {
        "summary": "Gets a single market.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the market is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetMarket",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMarketResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMarketRequest"
            }
          }
        ],
        "tags": [
          "MarketService"
        ]
      }
    },
    "/refb.merchant.v1.MarketService/ListMarkets": {
      "post": {
        "summary": "Lists all markets.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListMarkets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListMarketsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMarketsRequest"
            }
          }
        ],
        "tags": [
          "MarketService"
        ]
      }
    },
    "/refb.merchant.v1.MerchantService/CreateMerchantAddress": {
      "post": {
        "summary": "Creates merchant's address",
        "operationId": "CreateMerchantAddress",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateMerchantAddressResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMerchantAddressRequest"
            }
          }
        ],
        "tags": [
          "MerchantService"
        ]
      }
    },
    "/refb.merchant.v1.MerchantService/DeleteMerchantAddress": {
      "post": {
        "summary": "Delete merchant's address",
        "operationId": "DeleteMerchantAddress",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteMerchantAddressResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteMerchantAddressRequest"
            }
          }
        ],
        "tags": [
          "MerchantService"
        ]
      }
    },
    "/refb.merchant.v1.MerchantService/ListMerchantAddresses": {
      "post": {
        "summary": "Lists addresses defined for merchant",
        "operationId": "ListMerchantAddresses",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListMerchantAddressesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMerchantAddressesRequest"
            }
          }
        ],
        "tags": [
          "MerchantService"
        ]
      }
    },
    "/refb.merchant.v1.MerchantService/UpdateMerchantAddress": {
      "post": {
        "summary": "Updates merchant's address",
        "operationId": "UpdateMerchantAddress",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateMerchantAddressResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMerchantAddressRequest"
            }
          }
        ],
        "tags": [
          "MerchantService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/BatchCreateOffers": {
      "post": {
        "summary": "Batch creates offers.",
        "description": "Known errors:\n - identical to the CreateOffer operation",
        "operationId": "BatchCreateOffers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchCreateOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchCreateOffersRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/BatchDeleteOffers": {
      "post": {
        "summary": "Batch deletes offers.",
        "description": "Known errors:\n - identical to the DeleteOffer operation",
        "operationId": "BatchDeleteOffers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchDeleteOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDeleteOffersRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/BatchGetOffers": {
      "post": {
        "summary": "Batch gets single offers.",
        "description": "Known errors:\n - identical to the GetOffer operation",
        "operationId": "BatchGetOffers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchGetOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchGetOffersRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/BatchUpdateOffers": {
      "post": {
        "summary": "Batch updates offers.",
        "description": "Known errors:\n - identical to the UpdateOffer operation",
        "operationId": "BatchUpdateOffers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchUpdateOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUpdateOffersRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/CreateOffer": {
      "post": {
        "summary": "Creates a single offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- ALREADY_EXISTS\n  - when an offer with the given SKU already exists\n- INVALID_ARGUMENT\n  - when the unknown instance is provided\n  - invalid input offer data is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "CreateOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOfferRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/DeleteOffer": {
      "post": {
        "summary": "Deletes a single offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when offer is not found\n- INVALID_ARGUMENT\n  - when the unknown instance is provided\n  - invalid input offer data is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "DeleteOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOfferRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/GetOffer": {
      "post": {
        "summary": "Gets a single offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the offer is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOfferRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/ListOffers": {
      "post": {
        "summary": "Lists all offers.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListOffers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListOffersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOffersRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OfferService/UpdateOffer": {
      "post": {
        "summary": "Updates a single offer.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when offer is not found\n- INVALID_ARGUMENT\n  - when the unknown instance is provided\n  - invalid input offer data is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "UpdateOffer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateOfferResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOfferRequest"
            }
          }
        ],
        "tags": [
          "OfferService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemReturnService/ListOrderItemReturns": {
      "post": {
        "summary": "Lists returns with filtering, sorting, and pagination support.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- FAILED_PRECONDITION\n  - when the merchant does not exist for the authorized user\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination",
        "operationId": "ListOrderItemReturns",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListOrderItemReturnsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOrderItemReturnsRequest"
            }
          }
        ],
        "tags": [
          "OrderItemReturnService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/BatchUpdateOrderItems": {
      "post": {
        "summary": "Batch updates order items.",
        "description": "Known errors: Errors are identical to the UpdateOrderItem operation per\neach individual order item update and:\n- INVALID_ARGUMENT\n  - when more than 50 updates are attempted",
        "operationId": "BatchUpdateOrderItems",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchUpdateOrderItemsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUpdateOrderItemsRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/BatchUpdateOrderItemsState": {
      "post": {
        "summary": "Batch updates order items' state.",
        "description": "Known errors: Errors are identical to the UpdateOrderItemState operation\nper each individual order item state update and:\n- INVALID_ARGUMENT\n  - when more than 50 updates are attempted",
        "operationId": "BatchUpdateOrderItemsState",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BatchUpdateOrderItemsStateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUpdateOrderItemsStateRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/CalculateRefundOrderItem": {
      "post": {
        "summary": "Calculate values for a refund of a single order item, i.e. using the\nRefundOrderItem method.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order item is not found\n- INVALID_ARGUMENT\n  - invalid input refund data is provided\n- FAILED_PRECONDITION\n  - when order item is not refundable\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "CalculateRefundOrderItem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CalculateRefundOrderItemResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculateRefundOrderItemRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/GetOrderItem": {
      "post": {
        "summary": "Gets a single order item.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order item is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetOrderItem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderItemRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/ListOrderItemsByOrder": {
      "post": {
        "summary": "Lists all order items of a specific order.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListOrderItemsByOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListOrderItemsByOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOrderItemsByOrderRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/RefundOrderItem": {
      "post": {
        "summary": "Refunds a single order item. Item needs to be refundable.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order item is not found\n- INVALID_ARGUMENT\n  - invalid input refund data is provided\n- FAILED_PRECONDITION\n  - when order item is not refundable\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "RefundOrderItem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RefundOrderItemResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefundOrderItemRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/UpdateOrderItem": {
      "post": {
        "summary": "Updates a single order item.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the updated order item is not found\n- INVALID_ARGUMENT\n  - when invalid parcel tracking url is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "UpdateOrderItem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateOrderItemResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderItemRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderItemService/UpdateOrderItemState": {
      "post": {
        "summary": "Updates the state of a single order item.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the updated order item is not found\n- INVALID_ARGUMENT\n  - when illegal state transition is attempted\n  - when no parcel tracking url is set when transitioning to SHIPPED state\n  - when invalid parcel tracking url is provided\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "UpdateOrderItemState",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateOrderItemStateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderItemStateRequest"
            }
          }
        ],
        "tags": [
          "OrderItemService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/CalculateRefundOrder": {
      "post": {
        "summary": "Calculate values for a refund of all refundable items of an order at once,\ni.e. using the RefundOrder method.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n- INVALID_ARGUMENT\n  - invalid input refund data is provided\n- FAILED_PRECONDITION\n  - when order is not refundable\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "CalculateRefundOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CalculateRefundOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculateRefundOrderRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/CreateShippingLabel": {
      "post": {
        "summary": "Creates shipping label for an order",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n  - when merchant address is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "CreateShippingLabel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateShippingLabelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateShippingLabelRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/DeleteOrderCommercialInvoice": {
      "post": {
        "summary": "Deletes the previously uploaded commercial invoice for an order.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n  - when the commercial invoice was not uploaded\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "DeleteOrderCommercialInvoice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOrderCommercialInvoiceRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/DeleteOrderInvoice": {
      "post": {
        "summary": "Deletes the order's invoice. Order needs to be\ninvoiceable.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found for the merchant\n  - when no invoice is found in the order\n- FAILED_PRECONDITION\n  - when the order is not invoiceable\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "DeleteOrderInvoice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOrderInvoiceRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/GetOrder": {
      "post": {
        "summary": "Gets a single order using its identifier.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/GetOrderCommercialInvoice": {
      "post": {
        "summary": "Returns the previously uploaded commercial invoice for an order.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n  - when the commercial invoice was not uploaded\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetOrderCommercialInvoice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOrderCommercialInvoiceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderCommercialInvoiceRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/GetOrderInvoice": {
      "post": {
        "summary": "Gets the order's invoice. The URL access token is valid for 24h.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found for the merchant\n  - when no invoice is found in the order\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetOrderInvoice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetOrderInvoiceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderInvoiceRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/ListOrders": {
      "post": {
        "summary": "Lists orders.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListOrders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListOrdersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListOrdersRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/ListShippingLabels": {
      "post": {
        "summary": "Lists shipping labels for an order",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n  - when merchant address is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListShippingLabels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListShippingLabelsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListShippingLabelsRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/RefundOrder": {
      "post": {
        "summary": "Refunds all refundable items of an order at once.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n- INVALID_ARGUMENT\n  - invalid input refund data is provided\n- FAILED_PRECONDITION\n  - when order is not refundable\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "RefundOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RefundOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefundOrderRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/SetOrderInvoiceStream": {
      "post": {
        "summary": "Uploads an invoice for an order.",
        "description": "Overrides a possibly already existing invoice. Order needs to be\ninvoiceable.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found for the merchant\n- FAILED_PRECONDITION\n  - when the invoice exceeds the permitted size\n  - when the order is not invoiceable\n- INVALID_ARGUMENT\n  - when the invoice format is not supported\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "SetOrderInvoiceStream",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SetOrderInvoiceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": " (streaming inputs)",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetOrderInvoiceRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/UpdateShippingLabelAddress": {
      "post": {
        "summary": "Updates the shipping label address for an order.",
        "description": "The shipping label address is used when creating shipping labels. This is\nuseful when the carrier rejects the original customer address and the merchant\nneeds to correct it.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- FAILED_PRECONDITION\n  - when shipping label address is not enabled for the merchant\n- NOT_FOUND\n  - when the order is not found\n- INVALID_ARGUMENT\n  - when address fields are invalid\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "UpdateShippingLabelAddress",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateShippingLabelAddressResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateShippingLabelAddressRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.OrderService/UploadOrderCommercialInvoice": {
      "post": {
        "summary": "Uploads a commercial invoice for an order.",
        "description": "This document is required for customs when shipping internationally (e.g., outside the EU), and must be provided\nbefore shipping the order. The document must be in PDF.\nIntra-EU orders (e.g., non-CH orders) are not eligible for commercial invoice upload.\nIf a commercial invoice was already uploaded, the call will return an error.\n\nKnown errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the order is not found\n- FAILED_PRECONDITION\n  - when the order is not eligible for commercial invoice upload\n  - when a commercial invoice was already uploaded for the order\n- INVALID_ARGUMENT\n  - when the commercial invoice format is not supported\n  - when the commercial invoice exceeds the permitted size\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "UploadOrderCommercialInvoice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UploadOrderCommercialInvoiceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": " (streaming inputs)",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadOrderCommercialInvoiceRequest"
            }
          }
        ],
        "tags": [
          "OrderService"
        ]
      }
    },
    "/refb.merchant.v1.ShippingProfileService/CreateShippingProfile": {
      "post": {
        "summary": "Creates a shipping profile.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when unknown source country market code is provided\n  - when unknown destination market code is provided\n  - when invalid shipping costs amount\n  - when unknown currency code is provided\n  - when invalid min/max delivery days\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "CreateShippingProfile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateShippingProfileResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateShippingProfileRequest"
            }
          }
        ],
        "tags": [
          "ShippingProfileService"
        ]
      }
    },
    "/refb.merchant.v1.ShippingProfileService/DeleteShippingProfile": {
      "post": {
        "summary": "Deletes a shipping profile.\nOnly shipping profiles marked as deletable can be deleted.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- FAILED_PRECONDITION\n  - when shipping profile has at least one active offer assigned\n- NOT_FOUND\n  - when shipping profile is not found\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "DeleteShippingProfile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteShippingProfileRequest"
            }
          }
        ],
        "tags": [
          "ShippingProfileService"
        ]
      }
    },
    "/refb.merchant.v1.ShippingProfileService/GetShippingProfile": {
      "post": {
        "summary": "Gets a single shipping profile.\nIf no version is defined, its current version is returned.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- NOT_FOUND\n  - when the shipping profile is not found\n  - when the shipping profile has been deleted and no version is given as\n    parameter even though the individual historic versions are still\n    accessible\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "GetShippingProfile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetShippingProfileResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetShippingProfileRequest"
            }
          }
        ],
        "tags": [
          "ShippingProfileService"
        ]
      }
    },
    "/refb.merchant.v1.ShippingProfileService/ListAvailableCarriers": {
      "post": {
        "summary": "Lists available carriers for shipping profiles.\nMake sure to pre-fetch and cache the response of this method to avoid running into rate-limits.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListAvailableCarriers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListAvailableCarriersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {}
            }
          }
        ],
        "tags": [
          "ShippingProfileService"
        ]
      }
    },
    "/refb.merchant.v1.ShippingProfileService/ListShippingProfiles": {
      "post": {
        "summary": "Lists all current shipping profiles.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when pagination limit is too large (>100)\n  - when both \"ending_before\" and \"starting_after\" are specified in pagination\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "ListShippingProfiles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListShippingProfilesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListShippingProfilesRequest"
            }
          }
        ],
        "tags": [
          "ShippingProfileService"
        ]
      }
    },
    "/refb.merchant.v1.ShippingProfileService/UpdateShippingProfile": {
      "post": {
        "summary": "Updates a shipping profile.",
        "description": "Known errors:\n- UNAUTHENTICATED\n  - when no authorization header is sent\n  - when authorization header is malformed or invalid\n- PERMISSION_DENIED\n  - when the authorized user does not have permissions for this operation\n- INVALID_ARGUMENT\n  - when unknown source country market code is provided\n  - when unknown destination market code is provided\n  - when invalid shipping costs amount\n  - when unknown currency code is provided\n  - when invalid min/max delivery days\n- ALREADY_EXISTS\n  - when destination already exists for provided market code\n- RESOURCE_EXHAUSTED\n  - when rate limit is exceeded",
        "operationId": "UpdateShippingProfile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateShippingProfileResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateShippingProfileRequest"
            }
          }
        ],
        "tags": [
          "ShippingProfileService"
        ]
      }
    },
    "/refb.merchant.v1.TicketService/CreateTicket": {
      "post": {
        "summary": "Creates a new ticket.",
        "operationId": "CreateTicket",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateTicketResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTicketRequest"
            }
          }
        ],
        "tags": [
          "TicketService"
[...]
